:root {
    --rouge: #DC1D21;
    --rouge-hover: #c21a1c;
    --vert: #0ea500;
    --vert-hover: #0d9900;
    --orange: #ff9100;
    --bleu-card: #5593CD;
    --vert-card: #78D381;
    --orange-card: #E09D5E;
    --violet-card: #8664D0;
    --bleu-card-opacity-75: rgba(85, 147, 206, 0.75);
    --vert-card-opacity-75: rgba(120, 211, 129, 0.75);
    --orange-card-opacity-75: rgba(224, 157, 94, 0.75);
    --taille-header:66px;
    --taille-sidebar: 15vw;
    --taille-card: 14vw;
}

div.flex {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul.list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 1em;
    justify-content: center;
}

ul.list > li {
    flex-basis: 20%;
    flex-grow: 0;
    margin: 1em;
    padding: 1em;
    width: var(--taille-card);
    height: var(--taille-card);
    position: relative;
}

ul.list > li img {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

ul.list > li:first-child {
    background-color: var(--bleu-card);
}

ul.list > li:nth-child(2) {
    background-color: var(--vert-card);
}

ul.list > li:nth-child(3) {
    background-color: var(--orange-card);
}

ul.list > li:nth-child(4) {
    background-color: var(--violet-card);
}

ul.list > li:nth-child(5) {
    background-color: var(--bleu-card-opacity-75);
}

ul.list > li:nth-child(6) {
    background-color: var(--vert-card-opacity-75);
}

ul.list > li:nth-child(7) {
    background-color: var(--orange-card-opacity-75);
}

span {
    font-size: 2rem;
}