* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Roboto', sans-serif !important;
    font-size: 15px !important;
    color: rgba(0, 0, 0, 0.87) !important;
    line-height: 1.6 !important;
    margin: 0 !important;
    font-weight: 500 !important;
    min-height: 100vh;
    background-color: #eeeeee !important;
}

:root {
    --rouge: #DC1D21;
    --rouge-hover: #c21a1c;
    --vert: #0ea500;
    --vert-hover: #0d9900;
    --orange: #ff9100;
    --taille-header:66px;
    --taille-sidebar: 15vw;
    --taille-elements-width: calc(60vw - var(--taille-sidebar));
    --taille-card: 14vw;
}

.sidebar{
    position: fixed;
    height: 100%;
    left: 0;
    top: var(--taille-header);
    overflow-x: hidden;
    overflow-y: auto;
    background: #1a1a1a;
    color: #fff;
    width: var(--taille-sidebar);
    height: calc(100vh - var(--taille-header));
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: linear-gradient(
        rgba(219, 12, 34, 0.65), 
        rgba(219, 12, 34, 0.65)
      ), url("../assets/foret.jpg");
    background-repeat: no-repeat;
    background-position: center;
    font-weight: 500;
    z-index: 1000;
}
.sidebar #help{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white
}
.sidebar ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

.sidebar-navigation {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.sidebar-navigation li {
    background-color: white;
    position: relative;
    display: flex;
    line-height: 20px;
    margin: 2em 1em 0 1em;
    color: var(--rouge);
}

.sidebar-navigation li svg,
.sidebar-navigation li img {
    align-self: center;
    margin-left: 1em;
}

.sidebar-navigation li img{
    width: 25px;
    height: auto;
}

.sidebar-navigation li a {
    padding: 10px 15px 10px 30px;
    display: block;
    color: inherit;
}

.sidebar-navigation li a:hover {
    text-decoration: underline;
}

.sidebar-navigation li a:active,
.sidebar-navigation li a:focus {
    text-decoration: none;
    outline: none;
}

.sidebar-navigation li:hover svg,
.sidebar-navigation li:hover img {
    transform: translateX(1em);
    transition: transform .6s;
}

.sidebar-navigation li>div {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
}

.sidebar-navigation div.dropdown-menu {
    transform: translate3D(0,40px,0) !important;
}

.sidebar-navigation form button:active {
    background-color: transparent;
    outline: none;
}

.sidebar-navigation form button:hover {
    text-decoration: underline;
}

header.base {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    height: var(--taille-header);
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    box-shadow: 7px 0px 12px rgba(0, 0, 0, 0.25);
    font-weight: 500;
    z-index: 999;
}

header>div:first-child {
    align-self: center;
}

header>div:first-child>* {
    display: inline-block;
    vertical-align: middle;
}

header>div:first-child>span {
    font-size: 1.5rem;
}

header>div:first-child img {
    width: 50px;
    height: auto;
    padding: .5em;
    display: inline-block;
    vertical-align: middle;
}

main {
    position: absolute;
    top: var(--taille-header);
    left: var(--taille-sidebar);
    width: calc(98.7vw - var(--taille-sidebar));
    height: calc(99vh - var(--taille-header));
}

main>div {
    position: relative;
    width: 100%;
    height: 100%;
}

div.login {
    right: 0;
    width: 10%;
    height: 4em;
    z-index: 10000;
}

div.login>div {
    width: fit-content;
    position: absolute;
    top:.8em;
    right: 1em;
}

div.login>div:hover {
    cursor: pointer;
}

div.login>div span {
    font-size: 1.1rem;
    margin-left: .4em;
}

div.login>div a {
    color: inherit;
    text-decoration: none;
}

div.login>div a.dropdown-toggle {
    padding: 0;
    display: flex;
    align-items: center;
}

div.login>div a.dropdown-toggle span {
    margin-left: .5em;
    margin-right: .3em;
}

div.login>div.profile img {
    width: 40px;
    height: 40px;
}

div.login>div span:hover,
div.login>div i:hover {
    color: var(--rouge);
}

div.dropdown-menu {
    min-width: 2em;
    width: 100%;
    margin: 0;
}

div.dropdown-menu a:hover {
    color: var(--rouge);
    text-decoration: underline;
}

div.dropdown-menu a:active {
    background-color: transparent;
}

div.modal-body fieldset {
    margin: 0 auto;
    width: 60%;
}

div.modal-body {
    display: flex;
    flex-direction: column;
}

html::-webkit-scrollbar-thumb
{
    background: #434343;
    border-radius: 16px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

html::-webkit-scrollbar
{
    width: 16px;
}

html::-webkit-scrollbar-track
{
    background: linear-gradient(90deg,#434343,#434343 1px,#111 0,#111);
}

#img-profile {
    background-position: center;
    height: 40px;
    width: 40px;
    background-size: cover;
}

@media (max-width: 1275px) {
    .sidebar-navigation li a {
        padding-left: 10px;
    }

    .sidebar-navigation li:hover svg,
    .sidebar-navigation li:hover img {
        transform: none;
    }
}

@media (max-width: 1100px)  {
    .sidebar-navigation li img {
        width: 20px;
    }
}

@media (max-width: 1000px) {
    :root {
        --taille-sidebar: 20vw!important;
    }
}