:root {
    --rouge: #DC1D21;
    --rouge-hover: #c21a1c;
    --vert: #0ea500;
    --vert-hover: #0d9900;
    --orange: #ff9100;
    --taille-header:66px;
}

.C-carousel {
    background: #212121;
    height: calc(100vh - var(--taille-header));
    width: 100%;
    overflow: hidden;
    position: relative;
}
  
.C-track {
    opacity: 1;
    transition: all 400ms ease;
}
.C-track--reinit {
    opacity: 0;
    transition: all 0ms linear;
}
  
.C-slide {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: no-repeat center/cover;
    background-blend-mode: overlay;
    font-family: arial;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    overflow: hidden;
}
.C-carousel.initialized .C-slide {
    border-radius: 100vw;
    transform: scale(0.5) skew(-5deg) rotate(0);
    transition: all 700ms ease;
}
.C-carousel.initialized .C-slide.active {
    transform: scale(1) skew(0) rotate(0);
    border-radius: 0;
    position: relative;
}
.C-slide {
    background-image: url("../assets/road.png");
}
/* .C-slide:nth-child(2) {
    background-image: url(https://picsum.photos/1480/800?image=22);
}
.C-slide:nth-child(3) {
    background-image: url(https://picsum.photos/1480/800?image=33);
} */
  
.C-navigation {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.C-carousel--vertical .C-navigation {
    bottom: auto;
    left: auto;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
}
@media (max-width: 480px) {
    .C-carousel--horizontal .C-navigation {
      bottom: 50px;
    }
}
  
.C-navigation__dot {
    width: 12px;
    height: 12px;
    background: #fff;
    display: inline-block;
    margin: 4px;
    cursor: pointer;
    border-radius: 50%;
}
.C-navigation__dot.active {
    background: var(--orange);
    transform: scale(1.3);
}
  
.C-carousel-navigation-button {
    position: absolute;
    top: 50%;
    left: 10px;
    z-index: 2;
    border: 2px solid #fff;
    box-shadow: none;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    padding: 10px;
    background: transparent;
    cursor: pointer;
    transform: translateY(-50%);
    transition: all 300mes ease;
    text-transform: capitalize;
}
.C-carousel-navigation-button:hover {
    background: #eee;
    color: var(--rouge);
}
.C-carousel-navigation-button:active {
    background: #fff;
}
.C-carousel-navigation-button--next {
    left: auto;
    right: 10px;
}
.C-carousel--vertical .C-carousel-navigation-button {
    bottom: 10px;
    top: auto;
    left: auto;
    right: 25px;
    transform: translateY(0);
}
  .C-carousel--vertical .C-carousel-navigation-button--next {
    right: 20px;
}
.C-carousel--vertical .C-carousel-navigation-button--prev {
    transform: translatex(calc(-100% - 5px));
}
  
.C-slide-title {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    position: relative;
    transform: translateY(100%);
    opacity: 0;
    transition: all 300ms ease;
    transition-delay: 500ms;
}
@media (min-width: 480px) {
    .C-slide-title {
      font-size: 2rem;
    }
}
@media (min-width: 768px) {
    .C-slide-title {
      font-size: 42px;
    }
}

@media (max-width: 975px) {
    div.active .C-slide-title {
        font-size: 35px;
    }
}

@media(max-width: 815px){
    div.active .C-slide-title {
        font-size: 30px;
    }
}

@media (max-height: 800px) {
    div.active .C-slide-title {
      top: 10%;
    }
}

@media (max-height: 700px) {
    div.active .C-slide-title {
      top: 5%;
    }
}

@media (max-height: 700px) {
    div.active .C-slide-title {
      top: 0;
    }
}

.active .C-slide-title {
    transform: translateY(0) translateX(0);
    opacity: 1;
    position: absolute;
    top: 15%;
}
  
/* Pen controls */
.pen-controls {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    transform: translate(20px,20px);
}
.pen-controls button {
    border: 2px solid var(--rouge);
    box-shadow: none;
    border-radius: 0;
    font-weight: bold;
    color: var(--rouge);
    padding: 10px;
    background: #fff;
    cursor: pointer;
}

div.C-slide > div > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

div.C-slide > div > div.register-button {
    flex-direction: row;
}

div.C-slide label {
    text-align: center;
    text-transform: none;
}