:root {
    --rouge: #DC1D21;
    --rouge-hover: #c21a1c;
    --vert: #0ea500;
    --vert-hover: #0d9900;
    --orange: #ff9100;
    --taille-header:66px;
    --taille-sidebar: 15vw;
    --taille-elements-width: calc(50vw - var(--taille-sidebar));
    --taille-card: 14vw;
}

div.flex {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

div.flex h3 {
    margin-top: 0;
    margin-bottom: 1em;
}

section {
    background-color: white;
    border-radius: 1em;
    margin-top: 1em;
    width: max-content;
    text-align: center;
    padding: 3em;
    position: absolute;
    top: var(--taille-header);
    left: 50%;
    transform: translateX(-50%);
}

section i {
    color: var(--rouge);
}

div.flex>a {
    text-decoration: none;
    color:white;
    padding: .6em 1em;
    background-color: var(--rouge);
    border-radius: 15em;
    display: block;
    position: absolute;
    bottom: 2em;
    right: 1em;
}

div.flex>a:hover {
    background-color: var(--orange);
    transform: scale(0.95);
    transition: all .2s;
}

section div.contact {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

section div.contact div.info img {
    display: block;
    width: 60px;
    margin-right: 2em;
}

section div.contact div.action>button:first-child {
    display: block;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    border: solid var(--vert) 2px;
    border-radius: 1em;
    padding: 0 1em;
    text-align: center;
    color: black;
}

section div.contact div.action>button:last-child {
    display: block;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    border: solid var(--rouge) 2px;
    border-radius: 1em;
    padding: 0 1em;
    text-align: center;
    color: black;
}

section div.info,
section div.action {
    display: flex;
    flex-direction: row;
    align-items: center;
}

section div.contact div.action button:first-child:hover {
    cursor: pointer;
    transform: scale(0.95);
    transition: all .2s;
    border-color: var(--orange);
}

section div.contact div.action button:last-child:hover {
    cursor: pointer;
    transform: scale(0.95);
    transition: all .2s;
    border-color: var(--orange);
}

section div.contact h4 {
    font-size: 1.5rem;
    margin-right: 2em;
}

#update-contact {
    display: flex !important;
}