* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.87);
    line-height: 1.6;
    margin: 0;
    font-weight: 500;
    background-image: url("../assets/road.png");
    background-size: cover;
    min-height: 100vh;
}

:root {
    --rouge: #DC1D21;
    --rouge-hover: #c21a1c;
    --vert: #0ea500;
    --vert-hover: #0d9900;
    --orange: #ff9100;
    --taille-header:66px;
    --taille-sidebar: 15vw;
    --taille-elements-width: calc(60vw - var(--taille-sidebar));
    --taille-card: 14vw;
}

@-webkit-keyframes apparition {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes apparition {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

header {
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: var(--taille-header);
}

header>nav a {
    display: block;
    text-decoration: none;
    padding: .4em 1em;
    margin: 1em;
    color: white;
    background: var(--rouge);
    border-radius: 2em;
}

header>nav a:hover {
    cursor: pointer;
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    background: var(--orange);
    text-decoration: none;
    color: white;
}

header>div:first-child {
    align-self: center;
}

header>div:first-child>* {
    display: inline-block;
    vertical-align: middle;
}

header>div:first-child>span {
    font-size: 1.5rem;
}

header>div img {
    width: 50px;
    height: auto;
    padding: .5em;
    display: inline-block;
    vertical-align: middle;
}

main>h1 {
    color: inherit;
    margin-bottom: 2rem;
}

.login-main>form>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 2em;
    color: inherit;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

main>form a {
    color: white;
}

main>form a:hover {
    color: var(--orange);
}

main>form>div input,
.register-main input {
    border-radius: 2em;
    color: black;
    display: block;
    width: 60%;
    height: 3rem;
    padding: 5px 5%;
    border: 1px solid #ccc;
    background-color: #fff;
    outline: none;
}

.register-main input {
    width: 100%;
}

main>form>div input:focus,
.register-main input:focus {
    -webkit-box-shadow: 0 0 10px 2px hsla(204, 70%, 53%, 0.5);
    box-shadow: 0 0 10px 2px hsla(204, 70%, 53%, 0.5);
}

.login-btn {
    background: var(--rouge);
    padding: .4em .8em;
    color: inherit;
    border-radius: 2em;
    width: 10rem;
    outline: none;
    border: none;
    font-size: 1.2rem;
    margin-top: 2rem
}

.login-btn:hover {
    cursor: pointer;
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    background: var(--orange);
}

.login-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    width: 50%;
    -webkit-transition: margin 2s;
    -o-transition: margin 2s;
    transition: all 2s;
    margin-top: calc(0px - var(--taille-header));
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-30%);
}

.register-main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative
}

.register-main form {
    height: 100%;
    width: 100%;
}

.register-first-page,
.register-second-page {
    width: 25%;
}

.register-third-page {
    width: 30%;
}

@media(max-width: 1620px) {
    .register-third-page {
        width: 35% !important;
    }
}

@media(max-width: 1400px) {
    .register-first-page,
    .register-second-page {
        width: 30%;
    }

    .register-third-page {
        width: 40% !important;
    }
}

@media(max-width: 1220px) {
    .register-first-page,
    .register-second-page {
        width: 35%;
    }

    .register-third-page {
        width: 45% !important;
    }
}

@media(max-width: 1080px) {
    .register-first-page,
    .register-second-page {
        width: 40%;
    }

    .register-third-page {
        width: 50% !important;
    }
}

@media(max-width: 975px) {
    .register-first-page,
    .register-second-page {
        width: 50%;
    }

    .register-third-page {
        width: 60% !important;
    }
}

@media(max-width: 815px) {
    .register-first-page,
    .register-second-page {
        width: 70%;
    }

    .register-third-page {
        width: 90% !important;
    }
}

.register-first-page > div,
.register-second-page > div,
.register-third-page > div {
    padding: .5em;
}

.register-first-page input,
.register-second-page input {
    margin: 0 auto;
}

.register-main div.payment {
    background-color: white;
    border-radius: 1em;
    color: black;
    margin: 0 auto;
    text-align: center;
    padding: 1em;
}

.payment>div:first-child * {
    display: inline-block;
    vertical-align: middle;
}

.payment>div:first-child p {
    margin-right: 1em;
    font-size: 1.2rem;
}

.payment>div:first-child img {
    width: 60px;
    height: auto;
    margin-left: 1em;
    display: block;
    margin: 0 auto;
}

.payment-information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.payment-information>div div:first-child {
    margin-bottom: 2em;
}

.payment-information>div:first-child {
    width: 80%;
}

.payment-information>div:first-child input {
    width: 100%;
}

.payment-information>div:nth-child(2) input {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.register-main div.register-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    flex-basis: 100%;
    margin-bottom: 0;
}

.register-button>button {
    background: var(--vert);
}

.register-button>button:hover {
    background: var(--vert-hover);
}

.register-button>a {
    text-decoration: none;
    font-size: 1.1rem;
    text-align: center;
    text-transform: none;
    font-weight: 500;
}

.register-button>a:hover {
    color: white;
}

.register-third-page {
    display: flex;
    flex-wrap: wrap;
    max-width: 60vw;
    justify-content: center;
}

.register-third-page h1 {
    flex-basis: 100%;
}

html::-webkit-scrollbar-thumb
{
    background: #434343;
    border-radius: 16px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

html::-webkit-scrollbar
{
    width: 16px;
}

html::-webkit-scrollbar-track
{
    background: linear-gradient(90deg,#434343,#434343 1px,#111 0,#111);
}

div.flash {
    text-align: center;
}

div.C-slide > div > div.subscription-form {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

div.C-slide > div > div.subscription-form input {
    width: 1.2em;
    margin: 0 auto;
}

div.C-slide > div > div.subscription-form > div {
    margin-top: 2em;
}

div.C-slide > div > div.subscription-form > div label span {
    font-size: 1rem;
}


section.section-sub  h4 {
    font-size: 1.4rem;
    text-decoration: underline;
}

section.section-sub  ul {
    list-style-type: none;
    padding: 0;
}

section.section-sub ul,
section.section-sub h4,
section.section-sub p:last-of-type {
    margin-bottom: 7vh;
}

section.section-sub label {
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 2em;
    padding: .4em .8em;
    color: black;
    text-decoration: none;
    width: fit-content;
}

section.section-sub a:hover {
    text-decoration: none;
    color: black;
}

section.section-sub label span:first-child {
    font-size: 1rem;
}

section.section-sub label span:last-child {
    font-size: .8rem;
}

section.section-sub h2 {
    color: #472c11;
}

section.section-sub label {
    background-color: #eeeeee;
    color: black;
}

section.section-sub h2 {
    color: #1ED1AC;
}

section.section-sub label {
    background-color: #1ED1AC;
}

@media(max-width:1100px){
    div.flex > section.section-sub {
        height: max-content;
    }

    :root {
        --taille-elements-width:calc((95vw - var(--taille-sidebar))/3);
    }
}

@media(max-height:800px){
    div.flex > section.section-sub {
        height: max-content;
    }
}

section.section-sub {
    background-color: white;
    border-radius: 1em;
    text-align: center;
    padding: 3em;
    position: relative;
    margin: 0 1em;
    color: black;
    width: 30vw;
}

div.register-subscription {
    display: flex;
    justify-content: center;
}

div.active div.sub {
    top: 2%;
}

div.sub-radio {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5%;
}

div.sub-radio input {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5%;
    outline: none;
    display: none;
}

div.sub-radio span {
    border: solid 2px #1ED1AC;
    padding: .5em;
    border-radius: 1em;
}

div.sub-radio span:hover {
    cursor: pointer;
    background-color: #1ED1AC;
    color: white;
    transition: all .2s;
}

.selected-sub{
    border: solid 4px #1ED1AC;
    transform: scale(1.05);
    transition: all .2s;
}

@media (max-width: 1675px) {
    section.section-sub {
        width: 40vw;
    }
}

@media (max-width: 1175px) {
    section.section-sub {
        font-size: 1.2rem;
        height: fit-content;
    }    
}

@media (max-width: 1000px){
    section.section-sub {
        font-size: 1rem;
    }    
}

@media (max-height: 860px) {
    section.section-sub {
        padding: 2em;
    }    
}

@media (max-height: 760px) {
    section.section-sub {
        padding: 1em;
        font-size: 1rem;
    }    
}

@media (max-height: 600px) {
    section.section-sub {
        width: 30%;
    }    
}

@media (max-height: 550px) {
    section.section-sub {
        font-size: 0.8rem;
    }    
}

@media (max-height: 500px) {
    section.section-sub h4 {
        font-size: 1rem;
    }    
}

@media (max-height: 700px) and (max-width: 1220px) {
    div.active .C-slide-title {
        top: 5% !important;
        font-size: 1.8rem;
    }
}

@media (max-height: 600px) {
    .register-first-page,
    .register-second-page,
    .payment-information {
        font-size: 1.2rem;
    }
}

@media (max-height: 975px) {
    div.active .C-slide-title {
        font-size: 1.6rem !important;
    }
}

@media (max-height: 550px) {
    .register-first-page,
    .register-second-page,
    .payment-information {
        font-size: 1rem;
    }

    main>h1 {
        font-size: 1.6rem;
    }

    main>form>div input, .register-main input {
        height: auto;
    }
}

@media (max-height: 650px) {
    main>h1 {
        margin: 0;
    }
}

