:root {
    --rouge: #DC1D21;
    --rouge-hover: #c21a1c;
    --vert: #0ea500;
    --vert-hover: #0d9900;
    --orange: #ff9100;
    --taille-header:66px;
    --taille-sidebar: 15vw;
    --taille-elements-width: calc(60vw - var(--taille-sidebar));
    --taille-card: 14vw;
    --taille-mastercard: 80px;
}

div.flex {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

section {
    background-color: white;
    border-radius: 1em;
    margin-top: 1em;
    width: var(--taille-elements-width);
    text-align: center;
    padding: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

div.flex>section>a {
    text-decoration: none;
    color:white;
    padding: 2em 1em;
    background-color: var(--rouge);
    border-radius: 15em;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%,-50%);
}

section div.credit-card {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 60%;
    height: 18em;
    margin: 1em auto;
    border: solid black 1px;
}

section div.credit-card div.haut {
    background-color: blue;
    width: 100%;
    height: 55%;
    position: relative;
}

section div.credit-card div.haut img {
    width: var(--taille-mastercard);
    height: auto;
    display: block;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

section div.credit-card div.bas {
    background-color: white;
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* EDIT */

form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

form div.form-submit {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3em;
    margin-bottom: 3em;
    align-self: center ;
}

form div.form-submit>a,
form div.form-submit>button {
    padding: 0.4em 3em;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.6rem;
    border-radius: .3em;
}

form div.form-submit>a {
    border: solid var(--rouge) 2px;
    display: block;
}

form div.form-submit>button {
    border: solid var(--vert) 2px;
    background-color: transparent;
    outline: none;
}

form > div {
    margin-top: 1em;
    width: 100%;
    display: flex;
    justify-content: center;
}

form fieldset {
    width: 60%;
    border: solid 2px;
    border-radius: .2em;
}

form input {
    width: 100%;
    outline: none;
    border: none;
    text-indent: 1em;
}

form fieldset legend {
    width: fit-content;
    margin-bottom: 0;
    font-size: 1.4rem;
    padding: 0 .2em;
}

section > img {
    width: var(--taille-mastercard);
    height: auto;
}


@-webkit-keyframes rotate {
    100% {
      transform: rotate(1turn);
    }
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(1turn);
    }
}

.rotate-rouge:hover,
.rotate-vert:hover {
    position: relative;
    z-index: 0;
    border-radius: 10px;
    overflow: hidden;
}

.rotate-rouge:hover::before,
.rotate-vert:hover::before {
    content: "";
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: #399953;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    -webkit-animation: rotate 3s linear infinite;
            animation: rotate 3s linear infinite;
}

.rotate-rouge:hover::before {
    background-image: linear-gradient(var(--rouge), var(--rouge)), 
    linear-gradient(white, white),
    linear-gradient(var(--rouge), var(--rouge)),
    linear-gradient(white, white);
}

.rotate-vert:hover::before {
    background-image: linear-gradient(var(--vert), var(--vert)), 
    linear-gradient(white, white),
    linear-gradient(var(--vert), var(--vert)),
    linear-gradient(white, white);
}

.rotate-rouge:hover::after,
.rotate-vert:hover::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: white;
    border-radius: 5px;
}

@media (max-width: 1300px) {
    section div.credit-card {
        width: 80%;
    }
}

@media (max-width: 1000px) {
    section {
        width: calc(var(--taille-elements-width) + 10em);
    }
}

@media (max-width: 1100px) {
    form div.form-submit>a, 
    form div.form-submit>button {
        padding: 0.2em 2em;
        font-size: 1.2rem;
    }
}

@media (max-height: 900px) {
    form div.form-submit>a, 
    form div.form-submit>button {
        padding: 0.2em 2em;
        font-size: 1.2rem;
    }

    section {
        padding: 1em;
    }

    .dropzone {
        padding: 0!important;
    }
}