:root {
    --rouge: #DC1D21;
    --rouge-hover: #c21a1c;
    --vert: #0ea500;
    --vert-hover: #0d9900;
    --orange: #ff9100;
    --taille-header:66px;
    --taille-sidebar: 15vw;
    --taille-elements-width: calc((85vw - var(--taille-sidebar))/3);
    --taille-elements-height: calc(60vh - var(--taille-header));
    --taille-card: 14vw;
    --taille-mastercard: 80px;
}

div.flex, form {
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

div.flex > form > section {
    background-color: white;
    border-radius: 1em;
    text-align: center;
    padding: 3em;
    position: relative;
    width: var(--taille-elements-width);
    height: var(--taille-elements-height);
    margin: 0 1em;
}

div.flex > form > section  h4 {
    font-size: 1.4rem;
    text-decoration: underline;
}

div.flex > form > section  ul {
    list-style-type: none;
    padding: 0;
}

div.flex > form > section ul,
div.flex > form > section h4,
div.flex > form > section p:last-of-type {
    margin-bottom: 7vh;
}

div.flex > form > section a {
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 2em;
    padding: .4em .8em;
    color: white;
    text-decoration: none;
    width: fit-content;
}

div.flex > form > section a span:first-child {
    font-size: 1rem;
}

div.flex > form > section a span:last-child {
    font-size: .8rem;
}

section.section-sub h2 {
    color: #1ED1AC;
}

section.section-sub a {
    background-color: #1ED1AC;
}

section.cancel h2 {
    color: var(--rouge);
}


@media(max-width:1100px){
    div.flex > form > section.section-sub {
        height: max-content;
    }

    :root {
        --taille-elements-width:calc((95vw - var(--taille-sidebar))/3);
    }
}

@media(max-height:800px){
    div.flex > form > section.section-sub {
        height: max-content;
    }
}

.selected-sub{
    border: solid 4px #472c11;
    transform: scale(1.05);
    transition: all .2s;
}

.selected-cancel{
    border: solid 4px var(--rouge);
    transform: scale(1.05);
    transition: all .2s;
}

div.sub-radio button {
    border: solid 2px #1ED1AC;
    padding: .5em;
    border-radius: 1em;
    outline: none;
}


section.cancel div.sub-radio button {
    border: solid 2px var(--rouge);
}

section div.sub-radio {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5%;
}

input[type=radio] {
    display: none;
}

@media (max-width: 1200px) {
    form#form-sub {
        flex-direction: column;
        height: unset;
    }

    div.flex > form > section {
        padding: 1em;
        width: 60%;
        height: fit-content;
        margin: 1em;
    }
}