:root {
    --rouge: #DC1D21;
    --rouge-transparent: rgba(221, 29, 32, 0.5);
    --rouge-hover: #c21a1c;
    --vert: #0EB200;
    --orange: #ff9100;
}

.timeline {
    position: relative;
    margin-top: 5em;
}

.timeline::before {
    content: '';
    background: var(--rouge-transparent);
    width: 5px;
    height: 95%;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.timeline-item {
    width: 100%;
    margin-bottom: 70px;
}

.timeline-item:nth-child(even) .timeline-content {
    float: right;
    padding: 40px 30px 10px 30px;
}

.timeline-item:nth-child(even) .timeline-content .date {
    right: auto;
    left: 0;
}

.timeline-item:nth-child(even) .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
}

.timeline-item::after {
    content: '';
    display: block;
    clear: both;
}

.timeline-content {
    position: relative;
    width: 45%;
    padding: 10px 30px;
    border-radius: 4px;
    background: #f5f5f5;
    -webkit-box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
    box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}

.timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    right: -15px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #f5f5f5;
}

.timeline-img {
    width: 30px;
    height: 30px;
    background: var(--rouge);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-top: 25px;
    margin-left: -15px;
}

.timeline a {
    background: var(--rouge);
    color: #FFFFFF;
    padding: 8px 20px;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
}

.timeline a:hover,
.timeline a:active,
.timeline a:focus {
    background: var(--rouge-hover);
    color: #FFFFFF;
    text-decoration: none;
}

.timeline-card {
    padding: 0 !important;
}

.timeline-card p {
    padding: 0 20px;
}

.timeline-card a {
    margin-left: 20px;
}

.timeline-item:nth-child(2) .timeline-img-header {
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.4))), url("../assets/sending.jpg") center center no-repeat;
    background: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/sending.jpg") center center no-repeat;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/sending.jpg") center center no-repeat;
    background-size: cover;
}

.timeline-item:nth-child(3) .timeline-img-header {
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.4))), url("../assets/delivery.jpeg") center center no-repeat;
    background: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/delivery.jpeg") center center no-repeat;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/delivery.jpeg") center center no-repeat;
    background-size: cover;
}

.timeline-item:nth-child(4) .timeline-img-header {
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.4))), url("../assets/installation.jpg") center center no-repeat;
    background: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/installation.jpg../assets/installation.jpg") center center no-repeat;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/installation.jpg") center center no-repeat;
    background-size: cover;
}

.timeline-item:nth-child(5) .timeline-img-header {
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.4))), url("../assets/motard.jpg") center center no-repeat;
    background: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/motard.jpg") center center no-repeat;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/motard.jpg") center center no-repeat;
    background-size: cover;
}

.timeline-item:nth-child(6) .timeline-img-header {
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.4))), url("../assets/Support.jpg") center center no-repeat;
    background: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/Support.jpg") center center no-repeat;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/Support.jpg") center center no-repeat;
    background-size: cover;
}

.timeline-img-header {
    height: 200px;
    position: relative;
    margin-bottom: 20px;
}

.timeline-img-header h2 {
    color: #FFFFFF;
    position: absolute;
    bottom: 5px;
    left: 20px;
}

.timeline blockquote {
    margin-top: 30px;
    color: #757575;
    border-left-color: var(--rouge);
    padding: 0 20px;
}

.date {
    background: var(--rouge);
    display: inline-block;
    color: #FFFFFF;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

@media screen and (max-width: 768px) {
    .timeline::before {
        left: 50px;
    }
    .timeline .timeline-img {
        left: 50px;
    }
    .timeline .timeline-content {
        max-width: 100%;
        width: auto;
        margin-left: 70px;
    }
    .timeline .timeline-item:nth-child(even) .timeline-content {
        float: none;
    }
    .timeline .timeline-item:nth-child(odd) .timeline-content::after {
        content: '';
        position: absolute;
        border-style: solid;
        width: 0;
        height: 0;
        top: 30px;
        left: -15px;
        border-width: 10px 15px 10px 0;
        border-color: transparent #f5f5f5 transparent transparent;
    }
}