:root {
    --rouge: #DC1D21;
    --rouge-hover: #c21a1c;
    --vert: #0ea500;
    --vert-hover: #0d9900;
    --orange: #ff9100;
    --taille-header:66px;
    --taille-sidebar: 15vw;
    --taille-elements-width: calc(60vw - var(--taille-sidebar));
}

div.flex {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

section {
    background-color: white;
    border-radius: 1em;
    margin: 2em auto;
    width: var(--taille-elements-width);
    text-align: center;
    padding: 3em;
    position: relative;
}

form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

form > div {
    margin-top: 1em;
}

form>div.form-group1,
form>div.form-group2
{
    display: flex;
    flex: 0 0 48%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

div.img-avatar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.img-avatar img {
    width: 10em;
    margin-right: .5em;
}

div.img-avatar p {
    font-size: 1.2em;
    margin-left: 1em;
    border: solid black 2px;
    border-radius: 1em;
    padding: .2em 1em;
}

div.img-avatar p:hover {
   cursor: pointer;
   transform: scale(0.95);
   transition: all .2s;
   border-color: var(--orange);
}

input[type=file]{
    display: none;
}

form fieldset {
    width: 60%;
    border: solid 2px;
    border-radius: .2em;
}

form>div.form-group1 div,
form>div.form-group2 div {
    width: 100%;
}

form input {
    width: 100%;
    outline: none;
    border: none;
    text-indent: 1em;
}

form fieldset legend {
    width: fit-content;
    margin-bottom: 0;
    font-size: 1.4rem;
    padding: 0 .2em;
}

form div.form-submit {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3em;
    align-self: center;
}

form div.form-submit>a,
form div.form-submit>button {
    padding: 0.4em 3em;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.6rem;
    border-radius: .3em;
}

form div.form-submit>a {
    border: solid var(--rouge) 2px;
    display: block;
}

form div.form-submit>button {
    border: solid var(--vert) 2px;
    background-color: transparent;
    outline: none;
}

form div.form-group2>div {
    display: flex;
    justify-content: center;
}

#close {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(40%, -40%);
}

#close:hover i {
    color: var(--rouge-hover);
    transform: scale(0.90);
    transition: all .2s;
}

#close i {
    color: var(--rouge);
    font-size: 2.5rem;
}

@-webkit-keyframes rotate {
    100% {
      transform: rotate(1turn);
    }
}
  
@keyframes rotate {
    100% {
      transform: rotate(1turn);
    }
}
.rotate-rouge:hover,
.rotate-vert:hover {
    position: relative;
    z-index: 0;
    border-radius: 10px;
    overflow: hidden;
}
  
.rotate-rouge:hover::before,
.rotate-vert:hover::before {
    content: "";
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: #399953;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    -webkit-animation: rotate 3s linear infinite;
            animation: rotate 3s linear infinite;
}

.rotate-rouge:hover::before {
    background-image: linear-gradient(var(--rouge), var(--rouge)), 
    linear-gradient(white, white),
    linear-gradient(var(--rouge), var(--rouge)),
    linear-gradient(white, white);
}

.rotate-vert:hover::before {
    background-image: linear-gradient(var(--vert), var(--vert)), 
    linear-gradient(white, white),
    linear-gradient(var(--vert), var(--vert)),
    linear-gradient(white, white);
}
  
.rotate-rouge:hover::after,
.rotate-vert:hover::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: white;
    border-radius: 5px;
}

@media (max-width: 1100px) {
    section {
        width: calc(var(--taille-elements-width) + 10em);
    }

    form div.form-submit>a, 
    form div.form-submit>button {
        padding: 0.2em 2em;
        font-size: 1.2rem;
    }
}

@media (max-height: 900px) {
    form div.form-submit>a, 
    form div.form-submit>button {
        padding: 0.2em 2em;
        font-size: 1.2rem;
    }

    section {
        padding: 1em;
    }

    .dropzone {
        padding: 0!important;
    }
}