{% extends "mobile/base.html" %}

{% block style %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/Authentification/login-mobile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/Authentification/header-mobile.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/Authentification/overlay.css') }}">
{% endblock %}

{% block header %}

    <div class="logo">
        <a href="{{ url_for('index.index') }}">
            <img src="{{ url_for('static', filename='mobile/assets/logo_bikeeper_without_text.png') }}" alt="logo BiKeeper">
            <h1>BiKeeper</h1>
        </a>
    </div>
    {% include "components/mobile-sidebar-guest.html" %}
    <!-- Use any element to open/show the overlay navigation menu -->
    <nav onclick="openNav()"><img src="{{ url_for('static', filename='mobile/assets/menu.png') }}" alt="logo menu"></nav>
{% endblock %}

{% block main %}
<main class='login-main'>
    <div class="flash">
        {% include "messages.html" %}
    </div>
    <h2>
        Login to access your account
    </h2>
    <form action="#" method="POST">
        {{ form.hidden_tag() }}
        <div>

            <label for="username">Username</label>
            {{ form.username(size=50, id="username", placeholder="Enter your username") }}
        </div>
        <div>
            <label for="password">Password</label>
            {{ form.password(size=50, id="password", placeholder="Enter your password") }}
        </div>

        <button type="submit" class="login"><span>Login</span></button>
    </form>
    <div id="rectangle"></div>
</main>
{% endblock %}

{% block script %}
{% endblock %}