div.card {
    position: relative;
    width: 40vw!important;
    z-index: 0!important;
}

div.row {
    position: relative;
}

div.col-6 {}

.btn-larger-custom {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.12), 0px 1px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-wrap: nowrap;
    padding: 5px;
    padding-top: 10px;
    padding-right: 20px;
    margin-top: 20px!important;
    ;
    margin-bottom: 50px!important;
    ;
}

@media(max-width: 600px) {
    .btn-larger-custom {
        width: 450px;
        margin: auto;
    }
}

@media(max-width: 500px) {
    .btn-larger-custom {
        width: 350px;
        margin: auto;
    }
}

@media(max-width: 400px) {
    .btn-larger-custom {
        width: 300px;
        margin: auto;
    }
}

@media(max-width: 320px) {
    .btn-larger-custom {
        width: 280px;
        margin: auto;
    }
}

.btn-larger-custom img {}

.btn-larger-custom a {
    display: flex;
}


.cercle {
    position: absolute;
    background-color: #FC5D5D;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    text-align: center;
    padding-top: 6px;
    top: -15px;
    right: -15px;
    z-index: 1;
}

div.card a {
    color: #263238;
    opacity: 0.54;
    font-size: 14px;
}

h5.card-title {
    font-weight: 600;
    color: #263238;
    margin: 0;
}

#activity {
    margin-top: 50px;
}

h2 {
    text-align: center;
    margin: 2em 0;
}

#find-localisation {
    display: flex;
}