:root {
  --rouge: #DC1D21;
  --rouge-hover: #c21a1c;
  --vert: #0ea500;
  --vert-hover: #0d9900;
  --orange: #ff9100;
  --taille-header:66px;
  --taille-sidebar: 15vw;
  --taille-elements-width: calc(60vw - var(--taille-sidebar));
  --taille-card: 14vw;
}

.overlay {
  width: 0;
  height: 100%;
  position: fixed; 
  background-color: white;
  overflow-x: hidden; 
  transition: 0.1s;
  z-index: 3;
}

#myNav div.container {
  margin: 0;
  padding: 1em;
  overflow: hidden;
  position: absolute;
  top: 15%;
}

#myNav div.container a {
  display: block;
}

.overlay a {
  text-decoration: none;
  font-size: 36px;
  color: black;
  z-index: 3!important;
}
.overlay img{
  height: 30px;
  width: 31px;
  margin-bottom: 5px;
}
.overlay .closebtn {
  height: 40px;
  width: 40px;
  position: absolute;
  right: 10%;
  top: 5%;
}

.overlay-content>div>img{
   height: 30px;
  margin-top: 8px;
    margin-left: 10%;
  
}

.rectangle2{
    margin: 2%;
    margin-left: 6%;
    margin-bottom: 8%;
    width: 88%;
    height:1px;
    background:gray;
}
#Disconnect{
  height: 40px;
  width: 40px
}

#dropdown{
  display: none;
  z-index: 10;
  width: 90%;
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.35);
  background-color: rgba(0,0,0,0.1);
  margin-bottom: 20px;
  margin-top: 10px;

}
#dropdown img{
  margin-top: 10px;
  margin-left: 8px
}
#dropdown a{
  font-weight: normal;
  font-size: 25px
}

div.drpdwn {
  transform: translate(5%, -10%);
}

div.drpdwn form {
  font-size: 1.5rem;
  margin: .2em;
}

div.drpdwn form button {
}

div#img-profile,
div#img-profile + span {
  display: none;
}

#help{
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: solid rgba(255,0,0,0.7);
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 0;
  border-radius: 30px

}
.fa-question{
  color: rgba(255,0,0,0.7);
  font-size: 25px;
  margin-top: 5px
}