.fa-chevron-left{
  color: rgba(46, 58, 89, 0.5);
  font-size: 30px;

}
div.col-8{
  text-align: center;
}
#input-message{
  position: fixed;
  bottom: 0px;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: solid thin;
  border-color: rgba(0,0,0,0.25)
}
input{
  width: 100%;
  border: none;
  color: gray;
}
h3{
  font-size: 30px;
}
div.col-1{
  text-align: center
}
.fa-paper-plane{
  background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
border-radius: 4px;
  height: 30px;
  width: 30px;
  text-align: center;
  padding-top: 7px;
  color: white
}
button{
  border: None;

}
.fa-paperclip{
  height: 30px;
  width: 30px;
  text-align: center;
  padding-top: 7px;
  color: grey
}
.why{
  border: none;
  width: 100%
}
.modal{
  margin-top: 30px;

}
.modal-body{
  text-align: center
}

.tckt{
  margin-left: 20px;
  margin-bottom: 10px;
}
.lst-msg{
  font-size: 14px;
  color: grey
}
.tckt-id{
  font-size: 20px;
}
h3{
  text-align: center;
  margin-bottom: 20px;
}
.pp{
  height: 35px;
  width: 35px;
  border: 2px solid rgba(255, 255, 255, 0.75);
  border-radius: 30px;
}
.admin,.user{
  color: white;
  padding-top:5px;
  padding-bottom: 5px;
}
.admin{
  background: #00BF9D;
box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.24), 0px 2px 4px rgba(0, 0, 0, 0.16), 0px -1px 1px rgba(0, 0, 0, 0.08);
border-radius: 24px 0px 24px 24px;
}
.user{
  background: #1868FB;
box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.24), 0px 2px 4px rgba(0, 0, 0, 0.16), 0px -1px 1px rgba(0, 0, 0, 0.08);
border-radius: 0px 24px 24px 24px;
}
.msg{
  margin-top: 30px;
}
.check{
  font-size: 20px;
  border: solid thin green;
  padding: 0;
  border-radius: 10px
}
.fa-check{
  color: green;
}

.blank{
  height: 60px
}

section.tickets {
  position: relative;
  height: 90vh;
}

button.why-btn {
  position: absolute;
  bottom: 10%;
  right: 50%;
  transform: translateX(50%);
}
#btn-close{
  padding: 0;
  height: 28px;
  width: 28px;
  border-radius: 10px
}