{% extends "mobile/base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/User/header-mobile.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/User/overlay.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename = 'mobile/css/Admin/admin_home.css') }}">
{% endblock %}


{% block header %}
<div class="logo">
    <a href="{{ url_for('admin.admin_home') }}"><img src="{{ url_for('static', filename='mobile/assets/logo_bikeeper_without_text.png') }}" alt="logo BiKeeper">
    <h1>BiKeeper</h1></a>
</div>
{% include "components/mobile-sidebar.html" %}
<nav onclick="openNav()"><img src="{{ url_for('static', filename='mobile/assets/menu.png') }}" alt="logo menu"></nav>
{% endblock %}


{% block main %}
        <h2>Welcome Administrator !</h2>
        <div class="list-info">
            <ul class="list">
                <li class="user">
                    <p> {{ nb_users }} Users </p><img class="img_user" src="{{ url_for('static', filename = 'mobile/assets/user.svg') }}" alt="user"></li>
                <li class="data">
                    <p> {{ tt_data }} Mb </p><img class="img_data" src="{{ url_for('static', filename = 'mobile/assets/data.svg') }}" alt="data"></li>
                <li class="mail">
                    <p> {{ nb_ticket }} Tickets </p> <img class="img_mail" src="{{ url_for('static', filename = 'mobile/assets/mail.svg') }}" alt="mail"></li>
                <li class="new">
                    <p> {{ nb_bikeeper }} Bikeepers </p><img class="img_new" src="{{ url_for('static', filename = 'mobile/assets/happy.svg') }}" alt="happy"></li>
                <li class="ride">
                    <p> {{ nb_ride }} Rides </p><img class="img_ride" src="{{ url_for('static', filename = 'mobile/assets/stopwatch.svg') }}" alt="stopwatch"></li>
                <li class="notif">
                    <p> {{ nb_alert }} Alerts </p><img class="img_alert" src="{{ url_for('static', filename = 'mobile/assets/notification_active.svg') }}" alt="notification active"></li>
                <li class="cancel">
                    <p> {{ nb_cancel }} Cancellations </p><img class="img_cancel" src="{{ url_for('static', filename = 'mobile/assets/trello.svg') }}" alt="annulation"></li>
            </ul>
        </div>

{% endblock %}