{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pc/css/add_contact.css') }}">
{% endblock style %}

{% block main %}
<div class="flex">
    <section>
        <div class="flash">
            {% include "messages.html" %}
        </div>
        <h1>Add contact</h1>
        <form action="{{ url_for('settings.settings_contact_add_check') }}" method='POST'>
            <div class="form-group1">
                <div class="form-avatar">
                    <div class="img-avatar">
                        <img id='avatar' src="{{ url_for('static', filename='pc/assets/avatar.png') }}" alt="your avatar">
                        <input id='fileinput' type="file" name="avatar">
                        <p id='picture'>Select image</p>
                    </div>
                </div>
            </div>

            <div class="form-group2">
                <div class="form-first-name">
                    <fieldset>
                        <legend>First Name</legend>
                        <input type="text" name="first-name" required>
                    </fieldset>
                </div>
                <div class="form-last-name">
                    <fieldset>
                        <legend>Last Name</legend>
                        <input type="text" name="last-name" required>
                    </fieldset>
                </div>
                <div class="form-phone">
                    <fieldset>
                        <legend>Phone Number</legend>
                        <input type="tel" name="phone" required>
                    </fieldset>
                </div>
            </div>

            <div class="form-submit">
                <a class='rotate-rouge' href="{{ request.referrer }}">Cancel</a>
                <button class='rotate-vert' type="submit">Add</button>
            </div>
        </form>
    </section>
</div>
{% endblock main %}

{% block script %}
    <script>
        $(function() {
        $('#picture').on('click', function() {
            $('#fileinput').trigger('click');
        });
        });

        $(function(){
            $('#fileinput').change(function(){
            var input = this;
            var url = $(this).val();
            var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
            if (input.files && input.files[0]&& (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg")) {
                var reader = new FileReader();
            
                reader.onload = function (e) {
                    $('#avatar').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
                
            });
            
            });
    </script>
{% endblock script %}