{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pc/css/admin_home.css') }}">
    
{% endblock style %}

{% block main %}
<div class="flex">
    <h2>Welcome Administrator !</h2>
    <ul class="list">
        <li class="user">
            <p> <span>{{ nb_users }}</span> Users </p><img class="img_user" src="{{ url_for('static', filename = 'pc/assets/user.svg') }}" alt="user">
        </li>
        <li class="data">
            <p> <span>{{ tt_data }}</span> Mb </p><img class="img_data" src="{{ url_for('static', filename = 'pc/assets/data.svg') }}" alt="data">
        </li>
        <li class="mail">
            <p> <span>{{ nb_ticket }}</span> Tickets </p><img class="img_mail" src="{{ url_for('static', filename = 'pc/assets/mail.svg') }}" alt="mail">
        </li>
        <li class="new">
            <p> <span>{{ nb_bikeeper }}</span> Bikeepers </p><img class="img_new" src="{{ url_for('static', filename = 'pc/assets/happy.svg') }}" alt="happy">
        </li>
        <li class="ride">
            <p> <span>{{ nb_ride }}</span> Rides </p><img class="img_ride" src="{{ url_for('static', filename = 'pc/assets/stopwatch.svg') }}" alt="stopwatch">
        </li>
        <li class="alert">
            <p> <span>{{ nb_alert }}</span> Alerts </p><img class="img_alert" src="{{ url_for('static', filename = 'pc/assets/notification_active.svg') }}" alt="notification active">
        </li>
        <li class="cancel">
            <p> <span>{{ nb_cancel }}</span> Cancellations </p><img class="img_cancel" src="{{ url_for('static', filename = 'pc/assets/trello.svg') }}" alt="annulation">
        </li>
    </ul>
</div>

<!--<iframe src="/graph/d-solo/3wss4IEMk/bikeeper?orgId=1&refresh=1m&panelId=2" width="100%" height="500px" frameborder="0">

 </iframe>-->


{% endblock main %}

{% block script %}
<script src="https://d3js.org/d3.v6.js"></script>
{% endblock script %}