{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pc/css/contacts.css') }}">
    
{% endblock style %}

{% block main %}
<div class="flex">
    <section>
        <div class="flash">
            {% include "messages.html" %}
        </div>
        <h3><i class="fa fa-bell"></i> Contacts to Call</h3>
        {% for contact in contacts %}
        <div class="contact">
            <form action="{{ url_for('settings.settings_contact_update') }}" id="update-contact" method='POST'>
                <div class="info">
                    <img src="{{ url_for('static', filename='pc/assets/avatar.png') }}" alt="your contact avatar">
                    <h4>{{contact.firstname_contact}} {{contact.lastname_contact}}</h4>
                </div>
                
                <input type="hidden" name="id-contact" value='{{contact.id_contact}}'>
               
                <div class="action">
                    <button type="submit" name="action" value="edit">Edit</button>
                    <button type="submit" name="action" value="remove">Remove</button>
                </div>
            </form>
        </div>
        {% endfor %}
    </section>

    {% if number < 5 %}
    <a href="{{ url_for('settings.settings_contact_add') }}"><i class="fa fa-plus"></i></a>
    {% endif %}
</div>
{% endblock main %}

{% block script %}
{% endblock script %}