{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pc/css/faq.css') }}">
{% endblock style %}

{% block main %}
<div class="flex">
	<h2 id="title">FAQ</h2>

	{% for category in topic %}

	<div class="accordion accordion-flush" id="faq">
		<div class="accordion-item">
			<h2 class="accordion-header" id="{{category}}">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#i-{{category}}" aria-expanded="false" aria-controls="i-{{category}}">
					{{category}}
				</button>
			</h2>
			<div id="i-{{category}}" class="accordion-collapse collapse box" aria-labelledby="{{category}}" data-bs-parent="#faq">
				{% for question in data %}
					{% if data[question]["topic"] == category %}
						<div class="container-fluid">
							<h4 class="question">{{question}}</h4><br>
							<p class="anwser">{{data[question]["anwser"]}}</p>
							
							{% if data[question]["optional-link"]!=""  %}
								<a href="{{data[question]['optional-link']}}" class="link">Click there!</a>
							{% endif %}
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}

{% block script %}
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.min.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
{% endblock %}