{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pc/css/home.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin=""/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
{% endblock %}

{% block main %}
    <section class='cards'>
        <div class="card">
            <a href="/statistics/#position">
                <img src="{{ url_for('static', filename='pc/assets/home-map.jpg') }}" alt="map localisation">
                <span>Find your motorbike</span>
            </a>
        </div>
        <div class="card">
            <a href="/statistics/#filters">
                <img src="{{ url_for('static', filename='pc/assets/home-moto.png') }}" alt="motorbike">
                <span id="rides">Rides</span>
            </a>
        </div>
        <div class="card">
            <a href="/statistics/#timeline">
                <img src="{{ url_for('static', filename='pc/assets/home-alert.jpg') }}" alt="exclamation mark">
                <span id="alerts">Alerts</span>
            </a>
        </div>
        <div class="card">
            <a href="/statistics/#timeline">
                <img src="{{ url_for('static', filename='pc/assets/home-notification.png') }}" alt="megaphone">
                <span id="notifications">Notifications</span>
            </a>
        </div>

        <div class="card">
            <a href="/statistics/#data">
                <img src="{{ url_for('static', filename='pc/assets/home-battery.png') }}" alt="battery level">
                <span>Battery</span>
            </a>
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='pc/assets/home-play.png') }}" alt="play/stop button">
            <span>Activate Park Mode</span>
        </div>
    </section>
    <h2>Weekly Activity</h2>

    <canvas id="activityChart"></canvas>

    <div id="map">
        <!-- Ici s'affichera la carte -->
    </div>

    <div class='temp'>
    </div>

    {% block script %}
        <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
                integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
                crossorigin=""></script>

        <script>
            {% autoescape false %}
            const username_home = '{{ current_user.username_user }}';
            const selected_device = '{{ selected_device }}';
            {% endautoescape %}
        </script>

        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.bundle.min.js"></script>
        <script src="{{ url_for('static', filename='pc/js/home_map.js') }}"></script>
        <script src="{{ url_for('static', filename='pc/js/home_chart.js') }}"></script>
        <script src="{{ url_for('static', filename='pc/js/home_notifications.js') }}"></script>
    {% endblock %}

{% endblock %}