<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='pc/assets/logo_bikeeper_without_text.png') }}"
          type="image/x-icon">

    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>

    <link rel="stylesheet" href="{{ url_for('static', filename='pc/css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='pc/css/timeline.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='pc/css/footer.css') }}">

    <link href="https://fonts.googleapis.com/css?family=Allura" rel="stylesheet">
    <title>BiKeeper</title>
</head>

<body>
<header>
    <div>
        <img src="{{ url_for('static', filename='pc/assets/logo_bikeeper_without_text.png') }}" alt='logo BiKeeper'>
        <span>BiKeeper</span>
    </div>
    <nav>
        <a href="/register/">Register</a>
        <a href="/login/">Login</a>
    </nav>
</header>

<div class="flash">
    {% include "messages.html" %}
</div>

<section class='landing-banner'>
    <div class="banner"></div>
    <h1>Protect your bike<span class='span-red'>.</span></h1>
    <div class="card">
        <h4>Motorbike Magazine</h4>
        <div>
            <img src="{{ url_for('static', filename='pc/assets/magazine.png') }}"
                 alt="Motorbike Magazine - Moto Journal">
            <p>The <b>best</b> tracker for <b>your motorbike</b>. Simple to use, a lot of features, for a small price !
                <b>BiKeeper device</b> will <b>protect</b> your <b>motorbike</b> from theft. Localisation, statistics,
                fall detector....<a href='#'>read more</a></p>
        </div>
    </div>
</section>

<main>
    <h2>What is BiKeeper<span class='span-red'>?</span></h2>
    <p><b>BiKeeper</b> is a GPS tracker. BiKeeper device is <b>connected</b> everywhere and <b>linked to our powerful
        software</b>.<br> When we <b>detect theft</b>, a <b>notification is automatically sent</b> to the motorbike <b>owner</b>.
    </p>
    <div>
        <div class="card">
            <img src="{{ url_for('static', filename='pc/assets/localisation-1.png') }}"
                 alt="Magnifying glass on a map">
            <h4>Localisation in real time</h4>
            <p>See were is your vehicle on a map directly in a web browser...</p>
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='pc/assets/notification-1.png') }}"
                 alt="Smartphone image having a notification">
            <h4>Real time notification</h4>
            <p>Be alerted when your vehicle is moved or shocked direclty on your phone.</p>
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='pc/assets/trip-1.png') }}" alt="Trip symbol between two points">
            <h4>Save your trip</h4>
            <p>See your daily trips done. Watch your stats, like speed, distance and more!</p>
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='pc/assets/friends-1.png') }}"
                 alt="Friends holding each other by the shoulder">
            <h4>Alert your friends</h4>
            <p>When BiKeeper detect an accident, a message is send to your friends. They can take care of you.</p>
        </div>
    </div>
    <hr>
</main>


<h2>How can I get my BiKeeper device<span class='span-red'>?</span></h2>

<section class="timeline">
    <div class="container">
        <div class="timeline-item">
            <div class="timeline-img"></div>

            <div class="timeline-content js--fadeInLeft">
                <h2>REGISTER</h2>
                <div class="date">STEP 1</div>
                <p>Fill out the registration form with your personal information. Proceed to secure online payment. Once
                    done, you will be assigned a BiKeeper device!</p>
                <a class="bnt-more" href="/register/">Register</a>
            </div>
        </div>

        <div class="timeline-item">

            <div class="timeline-img">

            </div>

            <div class="timeline-content timeline-card js--fadeInRight">
                <div class="timeline-img-header">
                    <h2>SENDING</h2>
                </div>

                <p>Once you have registered, our team will send your property to the address indicated in the
                    registration form.</p>
            </div>

        </div>

        <div class="timeline-item">

            <div class="timeline-img"></div>

            <div class="timeline-content timeline-card js--fadeInLeft">
                <div class="timeline-img-header">
                    <h2>DELIVERY</h2>
                </div>
                <div class="date">STEP 2</div>
                <p>Your device is now in your hands! So what are you waiting for to install it? See you at the next
                    step!</p>
            </div>
        </div>

        <div class="timeline-item">

            <div class="timeline-img"></div>

            <div class="timeline-content timeline-card js--fadeInRight">
                <div class="timeline-img-header">
                    <h2>INSTALLATION</h2>
                </div>

                <div class="date">STEP 3</div>
                <p>In order to enjoy the full capabilities of your device, you must now connect it to your motorcycle's
                    battery! We can accompany you in this process with our online guide.</p>
                <a class="bnt-more" href="/guide/">Our guide</a>
            </div>
        </div>

        <div class="timeline-item">

            <div class="timeline-img"></div>

            <div class="timeline-content timeline-card js--fadeInLeft">
                <div class="timeline-img-header">
                    <h2>LET'S GO!</h2>
                </div>
                <div class="date">STEP 4</div>
                <p>Once installed, go to the settings area of our website to define the characteristics of your
                    device!<br> You are now ready! So what are you waiting for?<br> Try BiKeeper now! </p>
            </div>
        </div>

        <div class="timeline-item">

            <div class="timeline-img"></div>

            <div class="timeline-content timeline-card js--fadeInRight">
                <div class="timeline-img-header">

                </div>
                <p>If you would like to get help from our support team, do not hesitate to go to the page of our website
                    dedicated to it. We will answer your requests as soon as possible! <br>Thank you for choosing
                    BiKeeper!</p>
                <a class="bnt-more" href="{{ url_for('support.support')}}">Support</a>
            </div>
        </div>

    </div>
</section>
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://cdn.jsdelivr.net/scrollreveal.js/3.3.1/scrollreveal.min.js'></script>
<script src="{{ url_for('static', filename='/pc/js/timeline.js') }}"></script>

{% block footer %}
    {% include "components/footer.html" %}
{% endblock %}

</body>

</html>