<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='pc/assets/logo_bikeeper_without_text.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='pc/css/login-register.css') }}">
    <title>Login - BiKeeper</title>
</head>

<body>
    <header>
        <div>
            <a href="{{ url_for('index.index') }}">
                <img src="{{ url_for('static', filename='pc/assets/logo_bikeeper_without_text.png') }}" alt="logo BiKeeper">
            </a>
            <span>BiKeeper</span>
        </div>
        <nav>
            <a href="{{ url_for('register.register') }}">Register</a>
        </nav>
    </header>

    <main class='login-main'>
        <div class="flash">
            {% include "messages.html" %}
        </div>
        <h1>
            Login to access your account
        </h1>
        <form action="#" method="POST">
            {{ form.hidden_tag() }}
            <div>
                <label for="username">Username</label>
                <!-- <input type="text" id='username' name="username" placeholder='Enter your username' required> -->
                {{ form.username(size=50, id="username", placeholder="Enter your username") }}
            </div>
            <div>
                <label for="password">Password</label>
                <!-- <input type="password" id='password' name="password" placeholder='Enter your password' required> -->
                {{ form.password(size=50, id="password", placeholder="Enter your password") }}
            </div>
            <a href="{{ url_for('register.register') }}">Do not have an account yet?</a>
            <div>
                <button type="submit" class='login-btn'><span>Login</span></button>
            </div>
        </form>
    </main>
</body>

</html>