<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='pc/assets/logo_bikeeper_without_text.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='pc/css/login-register.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='pc/css/carousel.css') }}">

    <title>Register - BiKeeper</title>
</head>

<body>
    <header>
        <div>
            <a href="{{ url_for('index.index') }}">
                <img src="{{ url_for('static', filename='pc/assets/logo_bikeeper_without_text.png') }}" alt="logo BiKeeper">
            </a>
            <span>BiKeeper</span>
        </div>
        <nav>
            <a href="{{ url_for('login.login') }}">Login</a>
        </nav>
    </header>

    <form class="register-main" action="{{ url_for('register.register_validate') }}" method="POST">
        <div class="flash">
            {% include "messages.html" %}
        </div>
        
            <div class="C-carousel">

                <div class="C-slide">
                    <h1 class="C-slide-title C-slide-title--h1">Register to access your account</h1>

                    <div class="register-first-page">
                        <div>
                            <label for="username">Username</label>
                            <input type="text" name="username" id="username" placeholder='Enter your username here'>
                        </div>
                        <div>
                            <label for="email">Email</label>
                            <input type="text" name="email" id="email" placeholder='Enter your email here'>
                        </div>
                        <div>
                            <label for="password">Password</label>
                            <input type="password" id='password' name="password" placeholder='Enter your password'>
                        </div>
                        <div>
                            <label for="confirmpassword">Confirm your Password</label>
                            <input type="password" id='confirmpassword' name="confirmpassword" placeholder='Confirm your password'>
                        </div>
                    </div>

                </div>

                <div class="C-slide">
                    <div class="C-slide-title">Where will we deliver your device?</div>

                    <div class="register-second-page">
                        <div>
                            <label for="tel">Phone Number</label>
                            <input type="tel" id='tel' name="tel" placeholder='06.12.54.63.95'>
                        </div>
                        <div>
                            <label for="address">Address</label>
                            <input type="text" id='address' name="address" placeholder='3170 Broadway #8G'>
                        </div>
                        <div>
                            <label for="city">City</label>
                            <input type="text" id='city' name="city" placeholder='New York'>
                        </div>
                        <div>
                            <label for="postalCode">Postal Code</label>
                            <input type="text" id='postalCode' pattern="[0-9]{5}" name="postalcode" placeholder='10029'>
                        </div>

                    </div>
                </div>

                <div class="C-slide">
                    <div class="C-slide-title sub">Subscriptions</div>
                    <div class="register-subscription">
                        {% for sub in subscriptions %}
                            {% if sub.name_subscription == "France" %}
                            <section class='section-sub'>
                            {% else %}
                            <section class='section-sub selected-sub'>
                            {% endif %}
                                <h2>{{sub.name_subscription}}</h2>
                                <div>
                                <h4>{{sub.localisation_subscription}}</h4>
                                    <ul>
                                        {% for feature in features %}
                                            {% if sub.name_subscription == "France" and feature == "World Wide Localisation"%}
                                                <s>{{feature}}</s>
                                            {% else %}
                                                <li>{{feature}}</li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul> 
                                </div>
                                
                                <div class="sub-radio">
                                    <div><span onclick="selectSub(this)">Choose this plan - €{{sub.price_subscription}}/mo</span></div>
                                    <input type="radio" name="sub" value="{{sub.name_subscription}}" checked>
                                </div>
                            </section>
                        {% endfor %}
                    </div>
                </div>
                

                <div class="C-slide">
                    <div class="C-slide-title">Almost finished</div>
                        <div class="register-third-page">
                            <div class="payment">
                                <div>
                                    <img src="{{ url_for('static', filename='pc/assets/mastercard.png') }}" alt="Logo mastercard">
                                </div>
                                <div class='payment-information'>
                                    <div>
                                        <div class="cardnumber">
                                            <label for="cardnumber">Card Number</label>
                                            <input type="text" id='cardnumber' pattern='^(?:4[0-9]{12}(?:[0-9]{3})?|[25][1-7][0-9]{14}|6(?:011|5[0-9][0-9])[0-9]{12}|3[47][0-9]{13}|3(?:0[0-5]|[68][0-9])[0-9]{11}|(?:2131|1800|35\d{3})\d{11})$' placeholder='1234-5678-9123-4567' name="cardnumber">
                                        </div>
    
                                        <div class="cardholder">
                                            <label for="cardholder">Card Holder Name</label>
                                            <input type="text" id='cardholder' placeholder='John Smith' name="cardholder">
                                        </div>
                                    </div>
                                    <div>
                                        <div class="expiration">
                                            <label for="expiration">Expiration Date</label>
                                            <input type="text" id='expiration' pattern="/^(0[1-9]|1[0-2])\/?([0-9]{4}|[0-9]{2})$/" placeholder='08/22' name="expiration">
                                        </div>
                                        <div class="cvv">
                                            <label for="cvv">CVV/CVC</label>
                                            <input type="text" id='cvv' pattern="^[0-9]{3, 4}$"  placeholder='259' name="cvv">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='register-button'>
                                <button type="submit" class='login-btn'><span>Register</span></button>
                                <a class='login-btn' href='/login/'>Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pen-controls">
                    <button class="js-change-carousel-direction" type="button" data-carousel-id="C-carousel-0">Change orientation</button>
                </div>
   
            </div>
        

        </form>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='pc/js/carousel.js') }}"></script>
    <script src="{{ url_for('static', filename='pc/js/subscription.js') }}"></script>

</body>

<!-- 
    (\__/)
    (=''=) <(woooof)
    (")_(")
 -->

</html>