{% extends "base.html" %}

{% block style %}
    <!-- Import Leaflet CSS Style Sheet -->
    <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    {% if current_user.is_admin_user %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pc/css/statistics_admin.css') }}">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pc/css/statistics.css') }}">
    {% endif %}
{% endblock style %}

{% block main %}
    <div class="flex">
        {% if current_user.is_admin_user %}
            <header class="header-admin">
                <div class="flash">
                    {% include "messages.html" %}
                </div>
                <form action="{{ request.url }}" method="post">
                    <i class="fa fa-user"></i>
                    <input type="search" name="search_user" id="search_user" placeholder="Username">
                    <button type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
                <div class='show-user'>
                    {% if current_user.is_admin_user and username == "" %}
                        <img src="{{ url_for('static', filename='pc/assets/avatar.png') }}" alt="an avatar">
                    {% else %}
                        <div id='profile-picture-search' style="background-image: url('{{ picture }}')"></div>
                    {% endif %}
                    <div>
                        <div class='info-user'>
                            <h2 id="user-name">{{ username }}</h2>
                            <ul>
                                {% for device in devices %}
                                    <li>
                                        <img src="{{ url_for('static', filename='pc/assets/device.svg') }}"
                                             alt="icone device">
                                        <span>{{ device.num_device }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <table>
                            <tbody>
                            <tr>
                                <td><span class="localisation-icon"><i class="fa fa-map-marker"></i></span></td>
                                <td>{% if current_user.is_admin_user and not username == "" %}
                                    {{ street }}, <span class="pays">{{ town }}, {{ postalcode }}</span>
                                {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-mobile"></i></td>
                                <td>{{ phone }}</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-calendar"></i></td>
                                <td>{% if current_user.is_admin_user and not username == "" %}
                                    {{ date }}, account created
                                {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-credit-card"></i></td>
                                <td>{% if current_user.is_admin_user and not username == "" %}
                                    €{{ price }}/mo, Current Plan : {{ subscription }}
                                {% endif %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                {% if current_user.is_admin_user and not username == "" and not is_blocked %}
                    <form class="block-unblock-form" action="{{ url_for('stats.statistics_block') }}" method="POST">
                        <input type="hidden" name="username" value="{{ username }}">
                        <button type="submit" id="block-account">Block Account</button>
                    </form>
                {% elif current_user.is_admin_user and not username == "" and is_blocked %}
                    <form class="block-unblock-form" action="{{ url_for('stats.statistics_unblock') }}" method="POST">
                        <input type="hidden" name="username" value="{{ username }}">
                        <button type="submit" id="unblock-account">Unblock Account</button>
                    </form>
                {% endif %}
            </header>

            <div class="global-admin">
            <div class="nadmin">
        {% endif %}
        {% if current_user.is_admin_user and not username == "" or not current_user.is_admin_user %}

            <section class='group1'>

                <div id="data" class='user-data'>
                    <h2>Your Data</h2>
                    <ul>
                        <li>Last Ride: <span id="last-ride">DATE</span></li>
                        <li>Last Ride Duration: <span id="last-ride-duration">TIME</span></li>
                    </ul>
                </div>

                <div class='bikeeper-data'>
                    <h2>Your BiKeeper Data</h2>
                    <p id="is-charging"></p>
                </div>
            </section>

            <section class='group2'>
                <div id="filters" class="filters">
                    <h2>Filters</h2>
                    <form class='filters'>
                        <div class='ride-date'>
                            <label for="ride-date">Ride Date: </label>
                            <input onchange="loadDateBikeepers()" type="date" name="ride-date" id="ride-date">
                        </div>
                        <div class='device-number'>
                            <label for="device-number">Device Name: </label>
                            <select onchange="createTimelineElements();loadRides()" name="device-number"
                                    id="device-number">
                            </select>
                        </div>
                        <div class='ride-number'>
                            <label for="ride-number">Ride Number: </label>
                            <select onchange="displayRideData()" name="ride-number" id="ride-number">
                            </select>
                        </div>
                    </form>
                </div>
                <div id="timeline" class="container-timeline">
                    <h2>Timeline</h2>
                    <div class="timeline">
                        <!-- METTRE LA COULEUR EN FONCTION DU LOG
                            --timeline-main-color:#7BC6E1; INFORMATION
                            --timeline-main-color:#DC1D21; ALERT

                        <style>
                            :root {
                                --timeline-main-color: #DC1D21;
                            }
                        </style>
                        -->
                    </div>
                </div>

            </section>

            <section class='group3'>
                <div class="graph1">
                    <div class="canvas1">
                        <canvas id="speed"></canvas>
                    </div>
                    <div class="info1">
                        <ul>
                            <li>Max Speed: <span id="max-speed"> - </span>km/h</li>
                            <li>Average Speed: <span id="average-speed"> - </span>km/h</li>
                        </ul>
                    </div>
                </div>

                <div class="graph2">
                    <div class="canvas2">
                        <canvas id="angle"></canvas>
                    </div>
                    <div class="info2">
                        <ul>
                            <li>Max Angle: <span id="max-angle"> - </span>°</li>
                            <li>Average Angle: <span id="average-angle"> - </span>°</li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="group5">
                <div class="container-fluid">
                    <div class="parked park"></div>
                </div>
            </section>

            <section class="group4">
                <form action="{{ request.url }}" method='GET'>
                    <div class="btn-container">
                        <input type="radio" name="local" id="local" checked hidden/>
                        <label for="local">Local</label>
                        <input type="radio" name="online" id="online" hidden/>
                        <label for="online">Online</label>
                    </div>
                </form>
                <div id="my_osm_widget_map"></div>
                <div id="temp"></div>
            </section>
            
        {% endif %}
        {% if current_user.is_admin_user %}
            </div>
            </div>
        {% endif %}
    </div>
{% endblock main %}

{% block script %}
<!-- Import Leaflet JS Library -->
<script src="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.js"></script>
<!-- Import Autocomplete JS Library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.26/jquery.autocomplete.min.js"></script>
<script>
    {% autoescape false %}
    let username_stats = '{{ current_user.username_user }}';
    {% endautoescape %}

    $('#search_user').autocomplete({ // show suggestions when searching users as admin
        serviceUrl: '/api/bikeeper/search_user/' + document.getElementById('search_user').value,
        dataType: 'json',
    });
    if (document.getElementById("user-name") !== null) { // for admin page
        username_stats = document.getElementById("user-name").innerText;
    }
</script>


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.bundle.min.js"></script>
<script src="{{ url_for('static', filename='pc/js/stats.js') }}"></script>
{% endblock script %}
