{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pc/css/update_contact.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dropzone/dropzone.min.css') }}">
{% endblock style %}

{% block main %}
<div class="flex">
    <section>
        <h1>Update contact</h1>
         <form action="{{ url_for('settings.upload_files_contact') }} + {{id_contact}}" id="imageUpload"
                  class="dropzone">
                <div class="img-avatar">
                    <img id='picture' src="{{ current_user.profile_picture_user }}" alt="your avatar">
                    <p>Current Picture</p>
                </div>
            </form>
        <form action="{{ url_for('settings.settings_contact_update_check') }}" method='POST'>
            <div class="form-group1">

            </div>
            <div style="display: none" id="current-id-contact">{{id_contact}}</div>
            <div class="form-group2">
                <div class="form-first-name">
                    <fieldset>
                        <legend>First Name</legend>
                        <input type="text" name="first-name" value='{{first}}'>
                    </fieldset>
                </div>
                <div class="form-last-name">
                    <fieldset>
                        <legend>Last Name</legend>
                        <input type="text" name="last-name" value='{{last}}'>
                    </fieldset>
                </div>
                <div class="form-phone">
                    <fieldset>
                        <legend>Phone Number</legend>
                        <input type="tel" name="phone" value='{{tel}}'>
                    </fieldset>
                </div>
                <input type="hidden" name="id-contact" value="{{id_contact}}">
            </div>

            <div class="form-submit">
                <a class='rotate-rouge' href="{{ request.referrer }}">Cancel</a>
                <button class='rotate-vert' type="submit">Apply</button>
            </div>
        </form>
    </section>
</div>
{% endblock main %}

{% block script %}
    <script src="{{ url_for('static', filename='dropzone/dropzone.min.js') }}"></script>
    <script>

        Dropzone.options.imageUpload = {
            maxFiles: 1,
            acceptedFiles: ".jpeg,.jpg,.png,.gif",
            maxFilesize: 3,
            accept: function (file, done) {
                console.log("uploaded");
                done();
            },
            init: function () {
                this.on('addedfile', function (file) {
                    if (this.files.length > 1) {
                        this.removeFile(this.files[0]);
                    }
                });
                this.on("success", function () {
                    console.log()
                    let current_contact = document.querySelector("#img-profile+span").textContent

                    console.log("Refreshing image");
                    $.ajax({
                        url: "/api/contact/profile/" + current_contact,
                        success: function (result) {
                            document.getElementById("picture").src = result.response;
                            document.getElementById("img-profile").style.backgroundImage = "url('" + result.response + "')";
                        },
                        error: function (err) {

                        }
                    });
                });
                this.on("maxfilesexceeded", function (file) {
                    alert("No more files please!");
                });
            }
        };
    </script>

{% endblock script %}