html {
}

body{

}

div.main{
	width: 100%; /* largeur obligatoire pour être centré */
	display:flex;
	flex-direction:column;
	align-items:flex-end;


}

div.info-border{
    border: solid black;
    text-align: center;
    padding: 0.2em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

img.close_button{
	height: 70px;
	width: 70px;
}

p{
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: #DC1D21;
}

