html {
}

body{
	display:flex;
	flex-direction:column;

}

header{
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
	display: flex;
	flex-direction:row;
}

span{
	font-size: 60px;
	font-weight: bold;
	font-family: sans-serif;
}

h2{
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 1em;

}

ul.list{
	list-style: none;
	padding-left:5%;
}


img.img_user{
	height: 30px;
	width: 30px;
}

img.img_data{
	height: 30px;
	width: 30px;
}

img.img_mail{
	height: 30px;
	width: 30px;
}

img.img_new{
	height: 30px;
	width: 30px;
}

img.img_ride{
	height: 30px;
	width: 30px;
}

img.img_alert{
	height: 30px;
	width: 30px;
}

img.img_cancel{
	height: 30px;
	width: 30px;
}

li{
	font-size: 17px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	padding:1em;
	color: white;
	border-radius: 1em;
	width: 85%;
	height: auto;
	display:flex;
	align-items:center;
	justify-content:center;
	margin: .5em 0;
}

ul.list {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul.list > li > p {
	margin: 0;
}

li>*:first-child{
	position:absolute;
}

li>*:last-child{
	margin-left:auto;
}


li.user{
	background: #5593CD;
}

li.data{
	background: #78D381;
}

li.mail{
	background: #E09D5E;
}

li.new{
	background: #8664D0;
}

li.ride{
	background: #5593CD;
}

li.notif{
	background: #78D381;
}

li.cancel{
	background: #E09D5E;
}
