{% extends "mobile/base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/User/header-mobile.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/User/overlay.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename = 'mobile/css/Settings/account_parameters_update.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dropzone/dropzone.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename = 'mobile/css/Settings/profile-picture.css') }}">
{% endblock %}

{% block header %}
{% include "components/mobile-header.html" %}
{% endblock %}

{% block main %}
<div class="flex">
    <a href="{{ url_for('settings.settings') }}" class=" goback">
        <i class="fa fa-chevron-left"></i>
    </a>

    <h2>Your account</h2>
    <div class="main">
        <div class="user-profile">
            <form action="{{ url_for('settings.upload_files') }}" id="imageUpload" class="dropzone">

                <div class="img-avatar">
                    <img id='picture' src="{{ current_user.profile_picture_user }}" alt="your avatar">
                    <p>Current Picture</p>
                </div>
                <div class="dz-message" data-dz-message><span>Click here to upload images</span></div>
            </form>
        </div>
        <div class="account">
            <span>Registered on {{ current_user.date_creation_user }}</span>
            <div id="current-user" style="display: none">{{ current_user.username_user }}</div>
            <form action="{{ url_for('settings.settings_account_update') }}" id="update-account" method='POST'>

                <fieldset>
                    <legend>Password</legend>
                    <input class="form-input" type="password" name="password">
                </fieldset>

                <fieldset>
                    <legend>First name</legend>
                    <input class="form-input" type="text" name="first-name" value="{{ current_user.firstname_user }}">
                </fieldset>

                <fieldset>
                    <legend>Last name</legend>
                    <input class="form-input" type="text" name="last-name" value="{{ current_user.lastname_user }}">
                </fieldset>

                <fieldset>
                    <legend>Phone number</legend>
                    <input class="form-input" type="tel" name="phone" value="{{ current_user.num_user }}">
                </fieldset>

                <fieldset>
                    <legend>Email</legend>
                    <input class="form-input" type="email" name="email" value="{{ current_user.email_user }}">
                </fieldset>

                <fieldset>
                    <legend>Town</legend>
                    <input class="form-input" type="text" name="town" value="{{ current_user.town_user }}">
                </fieldset>

                <fieldset>
                    <legend>Street</legend>
                    <input class="form-input" type="text" name="street" value="{{ current_user.street_user }}">
                </fieldset>

                <fieldset>
                    <legend>Postal Code</legend>
                    <input class="form-input" type="text" name="postal-code" pattern="[0-9]{5}"
                        value="{{ current_user.postal_code_user }}">
                </fieldset>
                <div class="form-submit">
                    <!-- My Buttons -->
                    <a href="{{ url_for('settings.settings') }}">Cancel</a>
                    <button type="button" data-toggle="modal" data-target="#modalCenter">Update
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Enter your actual password to confirm changes.</p>
                    <fieldset class="modal-fd">
                        <input type="password" form="update-account" name="confirmpassword" placeholder='********'>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" form="update-account" class="btn btn-primary">Save changes</button>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(function () {
        $('#picture').on('click', function () {
            $('#fileinput').trigger('click');
        });
    });

    $(function () {
        $('#fileinput').change(function () {
            var input = this;
            var url = $(this).val();
            var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
            if (input.files && input.files[0] && (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg")) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#picture').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }

        });

    });
</script>
<script src="{{ url_for('static', filename='dropzone/dropzone.min.js') }}"></script>
<script>

    Dropzone.options.imageUpload = {
        maxFiles: 1,
        acceptedFiles: ".jpeg,.jpg,.png,.gif",
        maxFilesize: 3,
        accept: function (file, done) {
            console.log("uploaded");
            done();
        },
        init: function () {
            this.on('addedfile', function (file) {
                if (this.files.length > 1) {
                    this.removeFile(this.files[0]);
                }
            });
            this.on("success", function () {
                console.log()
                var current_username = document.getElementById("current-user").textContent

                console.log("current username " + current_username);
                $.ajax({
                    url: "/api/user/profile/" + current_username,
                    success: function (result) {
                        document.getElementById("picture").src = result.response;
                        document.getElementById("img-profile").style.backgroundImage = "url('" + result.response + "')";
                    },
                    error: function (err) {
                    }
                });
            });
            this.on("maxfilesexceeded", function (file) {
                alert("No more files please!");
            });
        }
    };
</script>
{% endblock script %}