{% extends "mobile/base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/User/header-mobile.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/User/overlay.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename = 'mobile/css/Settings/contacts.css') }}">
{% endblock %}

{% block header %}
{% include "components/mobile-header.html" %}
{% endblock %}

{% block main %}
<div class="flex">        
    <a href="{{ url_for('settings.settings') }}" class="goback">
        <i class="fa fa-chevron-left"></i>
    </a>
    <section>
        <h3><i class="fa fa-bell"></i> Contacts to Call</h3>
        {% for contact in contacts %}
        <div class="contact">
            <form action="{{ url_for('settings.settings_contact_update') }}" id="update-contact" method='POST'>
                <div class="info">
                    <img src="{{ url_for('static', filename='pc/assets/avatar.png') }}" alt="your contact avatar">
                    <h4>{{contact.firstname_contact}} {{contact.lastname_contact}}</h4>
                </div>
                
                <input type="hidden" name="id-contact" value='{{contact.id_contact}}'>
               
                <div class="action">
                    <button type="submit" name="action" value="edit"><i class="fa fa-user-edit"></i></button>
                    <button type="submit" name="action" value="remove"><i class="fa fa-trash-alt"></i></button>
                </div>
            </form>
        </div>
        {% endfor %}
    </section>
    <div id="add-contact">
        <a href="{{ url_for('settings.settings_contact_add') }}">
            <i class="fa fa-plus"></i>
        </a>
    </div>
    
</div>
{% endblock main %}

{% block script %}
{% endblock script %}