{% extends "mobile/base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/User/header-mobile.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/User/overlay.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename = 'mobile/css/Settings/device.css') }}">
{% endblock %}

{% block header %}
{% include "components/mobile-header.html" %}
{% endblock %}

{% block main %}
<div class="flex">
    <a href="{{ url_for('settings.settings') }}" class="goback">
        <i class="fa fa-chevron-left"></i>
    </a>
    <section>
        <div class="flash">
            {% include "messages.html" %}
        </div>
        <h1>Your Device ({{selected_device}})</h1>
        <form action="{{ url_for('settings.settings_devices_update') }}" id="form-devices" method='POST'>
            <h3>Parameters</h3>
            <div class="slidecontainer group1">
                <label for="movement">
                    Minimum Movement Distance : <span id="value-movement"></span>m
                </label>
                <div>
                    <span>5m</span>
                    <input type="range" min="5" max="50" value="27" class="slider" id="movement">
                    <span>50m</span>
                </div>

            </div>
            <div class="slidecontainer group2">
                <label for="delay">
                    SMS Sending Delay : <span id="value-delay"></span>s
                </label>
                <div>
                    <span>20s</span>
                    <input type="range" min="20" max="120" value="70" class="slider" id="delay">
                    <span>120s</span>
                </div>
            </div>
            <div class="group3">
                <label for="name">
                    Device name :
                </label>
                <input type="text" name="name" value='{{selected_device}}'>
            </div>
            <div class="form-submit">
                <!-- My Buttons -->
                <a href="{{ url_for('settings.settings') }}">Cancel</a>
                <button type="button" data-toggle="modal" data-target="#modalCenterDevice">Update</button>
            </div>
        </form>
    </section>
    <!-- Bootstrap -->
    <div class="modal fade" id="modalCenterDevice" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitleDevice" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLongTitleDevice">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Enter your password to confirm changes.</p>
                    <fieldset class="modal-fd">
                        <input type="password" form="form-devices" name="confirmpassword" placeholder='********'>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" form="form-devices" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}

{% block script %}
<script>
    var slider = document.getElementById("movement");
    var output = document.getElementById("value-movement");
    output.innerHTML = slider.value; // Display the default slider value

    // Update the current slider value (each time you drag the slider handle)
    slider.oninput = function() {
        output.innerHTML = this.value;
    }

    var slider2 = document.getElementById("delay");
    var output2 = document.getElementById("value-delay");
    output2.innerHTML = slider2.value; // Display the default slider value

    // Update the current slider value (each time you drag the slider handle)
    slider2.oninput = function() {
        output2.innerHTML = this.value;
    }
</script>
{% endblock script %}