{% extends "mobile/base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/User/header-mobile.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/User/overlay.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename = 'mobile/css/Settings/payment.css') }}">
{% endblock %}

{% block header %}
{% include "components/mobile-header.html" %}
{% endblock %}

{% block main %}
<div class="flex">
    <a href="{{ url_for('settings.settings_payment') }}"" class=" goback">
        <i class="fa fa-chevron-left"></i>
    </a>
    <section>
        <h2>Credit Card</h2>
        <img src="{{ url_for('static', filename='pc/assets/mastercard.png') }}" class="img-card" alt="mastercard logo">

        <form action="{{ url_for('settings.settings_payment_edit_check') }}" id="edit-payment" method='POST'>
            
            <div class="form-number">
                <fieldset>
                    <legend>Card Number</legend>
                    <input type="text" name="number" placeholder='xxxx - xxxx - xxxx 4567'>
                </fieldset>
            </div>

            <div class="form-holder">
                <fieldset>
                    <legend>Card Holder Name</legend>
                    <input type="text" name="holder" placeholder='John Doe'>
                </fieldset>
            </div>

            <div class="form-expiration">
                <fieldset>
                    <legend>Expiration Date</legend>
                    <input type="date" name="expiration">
                </fieldset>
            </div>

            <div class="form-cvv">
                <fieldset>
                    <legend>CVV / CVC</legend>
                    <input type="text" name="cvv" placeholder='666'>
                </fieldset>
            </div>

            <div class="form-submit">
                <a href="{{ url_for('settings.settings_payment') }}">Cancel</a>
                <button type="button" data-toggle="modal" data-target="#modalCenter">Update</button>
            </div>
        </form>
    </section>
</div>

<div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure?</p>
                <p>Please enter your password to confirm.</p>
                <fieldset class="modal-fd">
                    <input type="password" form="edit-payment" name="confirmpassword" placeholder='********'>
                </fieldset>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" >No</button>
            <button type="submit" form="edit-payment" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>
{% endblock main %}

{% block script %}
    <script>
        $(function() {
        $('#picture').on('click', function() {
            $('#fileinput').trigger('click');
        });
        });
    </script>
{% endblock script %}