{% extends "mobile/base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/User/header-mobile.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/User/overlay.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename = 'mobile/css/Settings/payment.css') }}">
{% endblock %}

{% block header %}
{% include "components/mobile-header.html" %}
{% endblock %}

{% block main %}
<div class="flex">
    <a href="{{ url_for('settings.settings') }}"" class=" goback">
        <i class="fa fa-chevron-left"></i>
    </a>
    <section class='payment'>
        <div class="flash">
            {% include "messages.html" %}
        </div>
        <h3>Your Credit Card</h3>
        <div class='credit-card'>
            <div class="haut">
                <img src="{{ url_for('static', filename='pc/assets/mastercard.png') }}" alt="mastercard logo">
            </div>
            <div class="bas">
                <p>**** **** **** 2562</p>
                <p>03/2018</p>
            </div>
        </div>
    
        <a href="#" data-toggle="modal" data-target="#modalCenter"><i class="fa fa-chevron-right"></i></a>
    </section>
    
    <div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{ url_for('settings.settings_payment_edit') }}" method='POST'>
                    <div class="modal-body">
                        <p>Enter your password to acceed.</p>
                        <fieldset class='modal-fd'>
                            <input type="password" name="confirmpassword" placeholder='********'>
                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Pursue</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}