{% extends "mobile/base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/User/header-mobile.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/User/overlay.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename = 'mobile/css/Settings/update-contact.css') }}">
{% endblock %}

{% block header %}
{% include "components/mobile-header.html" %}
{% endblock %}

{% block main %}
<div class="flex">
    <a href="{{ url_for('settings.settings_contact') }}" class="goback">
        <i class="fa fa-chevron-left"></i>
    </a>
    <section>
        <h1>Update contact</h1>
        <form action="{{ url_for('settings.settings_contact_update_check') }}" method='POST'>
            <div class="form-group1">
                <div class="form-avatar">
                    <div class="img-avatar">
                        <img id='avatar' src="{{ url_for('static', filename='pc/assets/avatar.png') }}" alt="your avatar">
                        <input id='fileinput' type="file" name="avatar">
                        <p id='picture'>Select image</p>
                    </div>
                </div>
            </div>

            <div class="form-group2">
                <div class="form-first-name">
                    <fieldset>
                        <legend>First Name</legend>
                        <input type="text" name="first-name" value='{{first}}'>
                    </fieldset>
                </div>
                <div class="form-last-name">
                    <fieldset>
                        <legend>Last Name</legend>
                        <input type="text" name="last-name" value='{{last}}'>
                    </fieldset>
                </div>
                <div class="form-phone">
                    <fieldset>
                        <legend>Phone Number</legend>
                        <input type="tel" name="phone" value='{{tel}}'>
                    </fieldset>
                </div>
                <input type="hidden" name="id-contact" value="{{id_contact}}">
            </div>

            <div class="form-submit">
                <a href="{{ url_for('settings.settings_contact') }}">Cancel</a>
                <button type="submit">Apply</button>
            </div>
        </form>
    </section>
</div>
{% endblock main %}

{% block script %}

{% endblock script %}