{% extends "mobile/base.html" %}
{% from "components/mobile-btn-large.html" import newLargeButton with context %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mobile/css/User/header-mobile.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mobile/css/User/overlay.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mobile/css/User/home-mobile.css') }}">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
crossorigin=""/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.css">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
{% endblock %}

{% block header %}
{% include "components/mobile-header.html" %}
{% endblock %}

{% block main %}
<div class="container">

    {{ newLargeButton("/localisation/", "Find your motorbike", "mobile/assets/location_outline.png", "find") }}

    <div class="row">
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <div class="cercle">
                    <span id="alerts"></span>
                </div>
                <img src="{{ url_for('static', filename='mobile/assets/alert.png') }}" class="card-img-top" alt="alert">
                <div class="card-body">
                    <h5 class="card-title">Alerts</h5>
                    <a href="{{ url_for('stats.statistics') }}" class="link">All notifications</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <div class="cercle">
                    <span id="rides"></span>
                </div>
                <img src="{{ url_for('static', filename='mobile/assets/moto1.png') }}" class="card-img-top" alt="moto">
                <div class="card-body">
                    <h5 class="card-title">Rides</h5>
                    <a href="{{ url_for('stats.statistics') }}" class="link">See your courses</a>
                </div>
            </div>
        </div>
    </div>

    <h2>Weekly Activity</h2>

    <canvas id="activityChart"></canvas>

</div>
{% endblock %}

{% block script %}
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
                integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
                crossorigin=""></script>
<script>
    {% autoescape false %}
    const username_home = '{{ current_user.username_user }}';
    const selected_device = '{{ selected_device }}';
    {% endautoescape %}
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.bundle.min.js"></script>
<script src="{{ url_for('static', filename='pc/js/home_chart.js') }}"></script>
<script src="{{ url_for('static', filename='pc/js/home_notifications.js') }}"></script>
{% endblock %}