{% extends "mobile/base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/User/header-mobile.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/User/overlay.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/User/localisation-mobile.css') }}">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin=""/>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
{% endblock %}


{% block header %}
{% include "components/mobile-header.html" %}
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-2">
                <a href="{{ url_for('home.home') }}">
                    <i class="fa fa-chevron-left"></i>
                </a>
            </div>
            <div class="col-8">Localisation</div>
        </div>
    </div>
    <div class="container-fluid">
        
    </div>
    <div id="map">
        <!-- Ici s'affichera la carte -->
    </div>
{% endblock %}


{% block script %}
<script>
    {% autoescape false %}
    const username_home = '{{ current_user.username_user }}';
    const selected_device = '{{ current_user.selected_device }}';
    {% endautoescape %}
</script>
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
        integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
        crossorigin=""></script>
<script src="{{ url_for('static', filename='pc/js/home_map.js') }}"></script>
{% endblock %}