{% extends "mobile/base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/User/header-mobile.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/User/overlay.css') }}">

<!-- Import Leaflet CSS Style Sheet -->
<link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.css"/>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/User/statistic-mobile.css') }}">
{% endblock %}


{% block header %}
{% include "components/mobile-header.html" %}
{% endblock %}

{% block main %}
<div class="flex">
        <section class='group1'>
            <h2>User Data</h2>  
            <div id="data" class='user-data'>      
                <div class='bikeeper-data'>
                    <img src="" alt="battery" id="battery-img">
                    <p id="is-charging"></p>
                </div>

                <ul>
                    <li><h6>Last Ride:</h6> <span id="last-ride">DATE</span></li>
                    <li><h6>Last Ride Duration:</h6> <span id="last-ride-duration">TIME</span></li>
                </ul>
            </div>
        </section>

        <section class='group2'>
            <div id="filters" class="filters">
                <h2>Filters</h2>
                <form class='filters'>
                    <div class='ride-date'>
                        <label for="ride-date">Ride Date: </label>
                        <input onchange="loadDateBikeepers()" type="date" name="ride-date" id="ride-date">
                    </div>
                    <div class='device-number'>
                        <label for="device-number">Device Number: </label>
                        <select onchange="createTimelineElements();loadRides()" name="device-number"
                                id="device-number">
                        </select>
                    </div>
                    <div class='ride-number'>
                        <label for="ride-number">Ride Number: </label>
                        <select onchange="displayRideData()" name="ride-number" id="ride-number">
                        </select>
                    </div>
                </form>
            </div>
            <div id="timeline" class="container-timeline">
                <h2>Timeline</h2>
                <div class="timeline">
                    
                </div>
            </div>

        </section>

        <section class='group3'>
            <div class="graph1">
                <div class="canvas1">
                    <canvas id="speed"></canvas>
                </div>
                <div class="info1">
                    <ul>
                        <li>Max Speed: <span id="max-speed"> - </span>km/h</li>
                        <li>Average Speed: <span id="average-speed"> - </span>km/h</li>
                    </ul>
                </div>
            </div>

            <div class="graph2">
                <div class="canvas2">
                    <canvas id="angle"></canvas>
                </div>
                <div class="info2">
                    <ul>
                        <li>Max Angle: <span id="max-angle"> - </span>°</li>
                        <li>Average Angle: <span id="average-angle"> - </span>°</li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="group5">
            <div class="container-fluid">
                <div class="parked park"></div>
            </div>
        </section>

        <section class="group4">
            <form action="{{ request.url }}" method='GET'>
                <div class="btn-container">
                    <input type="radio" name="local" id="local" checked hidden/>
                    <label for="local">Local</label>
                    <input type="radio" name="online" id="online" hidden/>
                    <label for="online">Online</label>
                </div>
            </form>
            <div id="my_osm_widget_map"></div>
            <div id="temp"></div>
        </section>
</div>
{% endblock %}

{% block script %}
<!-- Import Leaflet JS Library -->
<script src="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.js"></script>
<!-- Import Autocomplete JS Library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.26/jquery.autocomplete.min.js"></script>
<script>
    {% autoescape false %}
    let username_stats = '{{ current_user.username_user }}';
    {% endautoescape %}

    $('#search_user').autocomplete({ // show suggestions when searching users as admin
        serviceUrl: '/api/bikeeper/search_user/' + document.getElementById('search_user').value,
        dataType: 'json',
    });
    if (document.getElementById("user-name") !== null) { // for admin page
        username_stats = document.getElementById("user-name").innerText;
    }
</script>


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.bundle.min.js"></script>
<script src="{{ url_for('static', filename='pc/js/stats.js') }}"></script>
{% endblock %}