{% extends "mobile/base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/User/header-mobile.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/User/overlay.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/User/support-mobile.css') }}">
{% endblock %}

{% block header %}
{% include "components/mobile-header.html" %}
{% endblock %}

    
{% block main %}
<section class='tickets'>
    {% if not current_user.is_admin_user %}
    <a href="{{ url_for('home.home') }}" class="goback">
    {% else %}
    <a href="{{ url_for('admin.admin_home') }}" class="goback">
    {% endif %}
      <i class="fa fa-chevron-left"></i>
    </a>
    <div>
        <div class="container">
            <div class="container-fluid">
                <h3>TICKETS</h3>
            </div>
        </div>
        <div class="container">
            <ul class="nav">
            {% for numero in messages.keys() %}
            <div class="container-fluid tckt">
                <li onclick="" >
                    <a href="/support/{{ numero }}/" class="tckt-id">
                        Ticket#{{ numero }}
                    </a>
                    <p class="lst-msg">{{ last_messages[numero]["content"]  }}</p>
                </li>
            </div>
                
            {% endfor %}
        </ul>
        </div>
        

        

        {% if not current_user.is_admin_user %}
        <button type="button" class="btn btn-primary why-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Nous contacter
        </button>
        {% endif %}



        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Pourquoi nous contactez-vous ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form action="{{ url_for('support.support_new_ticket') }}" method='POST'>
                  <div class="modal-body">
                    <fieldset>
                        <input type="text" name="ticket" placeholder='I need you because...'>
                    </fieldset>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Valider</button>
                  </div>
              </form>
            </div>
          </div>
        </div>
    </div>
</section>

{% endblock main %}






{% block script %}
<script type="text/javascript">
        {% autoescape false %}
        var current_user = '{{current_user.username_user}}';
        var is_admin = '{{current_user.is_admin_user}}';
        var user_image = '{{picture}}';
        {% endautoescape %}

        function isAdmin(){
            return is_admin;
        }

        function getUsername() {
            return current_user;
        }

        function getImageUser(){
            return user_image;
        }

</script>
<script src="{{ url_for('static', filename='pc/js/support.js') }}" defer></script>
{% endblock script %}