<footer class='footer'>

    <div class='footer-left'>

        <h3>Bi<span>Keeper</span></h3>

        <p class='footer-links'>
            <a href="{{ url_for('login.login')}}" class='link-1'>Get a BiKeeper device</a>

            <a href='contact@bikeeper.fr'>Contact us</a>
        </p>

        <p class='footer-name'>BiKeeper Company © 2020</p>
    </div>

    <div class='footer-center'>

        <div>
            <p><span>16 rue d'Issoudun</span> 45160, Olivet, France</p>
        </div>

        <div class='footer-contact-tel'>
            <p>06 57 72 24 61</p>
        </div>

        <div class='footer-contact-mail'>
            <p><a href='mailto:contact@bikeeper.fr'>contact@bikeeper.fr</a></p>
        </div>

    </div>

    <div class='footer-right'>

        <p class='footer-about'>
            <span>A propos de nous</span>BiKeeper est une société créée en 2020. Nous avons pour vocation la sécurité d'autrui et de leurs biens à travers des dipositifs antivols !
        </p>

    </div>

</footer>