<header class="base">
    <div>
        {% if not current_user.is_admin_user %}
        <a href="{{ url_for('home.home') }}">
        {% else %}
        <a href="{{ url_for('admin.admin_home') }}">
        {% endif %}
            <img src="{{ url_for('static', filename='pc/assets/logo_bikeeper_without_text.png') }}" alt="logo BiKeeper">
        </a>
        <span>BiKeeper</span>
    </div>
    <div class="login">
        {% if current_user.is_authenticated %}
            <div class="dropdown profile show">
                <a class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div id='img-profile' style="background-image: url({{ current_user.profile_picture_user }});"></div>
                    <span>{{ current_user.username_user }}</span>
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    {% if not current_user.is_admin_user %}
                    <a href="{{ url_for('settings.settings_account')}}" class="dropdown-item">Profile</a>
                    {% endif %}
                    <a href="{{ url_for('logout.logout')}}" class="dropdown-item">Logout</a>
                    
                </div>
            </div>
        {% else %}
            <div>
                <i class="fa fa-user" aria-hidden="true"></i>
                <a href="{{ url_for('login.login')}}"><span>Login</span></a>
            </div>
        {% endif %}
    </div>
</header>