<div id="myNav" class="overlay">

    <!-- Button to close the overlay navigation -->
    {% if not current_user.is_admin_user %}
    <a href="/faq/" id="help"><i class="fa fa-question"></i></a>
    {% endif %}
    <img src="{{ url_for('static', filename='mobile/assets/close.png') }}" href="javascript:void(0)" class="closebtn" onclick="closeNav()" alt="close">
    <!-- Overlay content -->
    <div class="container">
        <div id="img-profile"></div>
        <span>{{current_user.username_user}}</span>
        {% if not current_user.is_admin_user %}
        <a href="{{ url_for('home.home') }}">
        {% else %}
        <a href="{{ url_for('admin.admin_home') }}">
        {% endif %}
            <div class="row">
                <div class="col-2"><img src="{{ url_for('static', filename='mobile/assets/Vector.svg') }}" alt="vector"></div>
                <div class="col-10">Home</div>
            </div>
            <div class="rectangle2"></div>
        </a>
        {% if not current_user.is_admin_user %}
        <a href="{{ url_for('stats.statistics') }}">
            <div class="row">
                <div class="col-2"><img src="{{ url_for('static', filename='mobile/assets/graphicon1.svg') }}" alt="stat"></div>
                <div class="col-10">Statistics</div>
            </div>
            <div class="rectangle2"></div>
        </a>
        {% endif %}
        {% if current_user.is_admin_user %}
        <a href="{{ url_for('admin.admin_access') }}">
            <div class="row">
                <div class="col-2"><img src="{{ url_for('static', filename='mobile/assets/settings1.svg') }}" alt="setting"></div>
                <div class="col-10">Users</div>
            </div>
            <div class="rectangle2"></div>
        </a>
        {% endif %}
        {% if current_user.is_admin_user %}
        <a href="{{ url_for('admin.admin_access') }}">
            <div class="row">
                <div class="col-2"><img src="{{ url_for('static', filename='mobile/assets/layers.svg') }}" alt="setting"></div>
                <div class="col-10">Platform</div>
            </div>
            <div class="rectangle2"></div>
        </a>
        {% endif %}
        {% if not current_user.is_admin_user %}
        <a href="{{ url_for('settings.settings') }}">
            <div class="row">
                <div class="col-2"><img src="{{ url_for('static', filename='mobile/assets/settings1.svg') }}" alt="setting"></div>
                <div class="col-10">Settings</div>
            </div>
            <div class="rectangle2"></div>
        </a>
        {% endif %}
        <a href="{{ url_for('support.support') }}">
            <div class="row">
                <div class="col-2"><img src="{{ url_for('static', filename='mobile/assets/support.svg') }}" alt="support"></div>
                <div class="col-10">Support</div>
            </div>
            <div class="rectangle2"></div>
        </a>
        {% if not current_user.is_admin_user %}
        <a href="#" onclick="dropdown()">
            <div class="row">
                <div class="col-2"><img src="{{ url_for('static', filename='mobile/assets/Device.svg') }}" alt="device"></div>
                <div class="col-10">Device</div>
            </div>
            <div class="rectangle2"></div>
        </a>
        <div class="drpdwn">
            <div id="dropdown">
                <div class="row" id="devices">
                {% for device in devices %}
                <form action="{{ url_for('sidebar.sidebar_device_change') }}" method="POST">
                    <button type='submit' name="device_change" value="{{device.num_device}}" class="dropdown-item">{{ device.name_device }}</button>
                </form>
                {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        <a href="{{ url_for('logout.logout')}}">
            <div class="row">
                <div class="col-2"><img src="{{ url_for('static', filename='mobile/assets/log_out.svg') }}" alt="log_out" id="Disconnect"></div>
                <div class="col-10">Disconnect</div>
            </div>
            <div class="rectangle2"></div>
        </a>
    </div>
</div>
<script type="text/javascript">
    function dropdown() {
        console.log(document.getElementById("dropdown").style.display)
        if (document.getElementById("dropdown").style.display.localeCompare("") ==0 || document.getElementById("dropdown").style.display.localeCompare("none")==0 ){
            document.getElementById("dropdown").style.display="block";
            console.log("oui")
        }
        else{
            document.getElementById("dropdown").style.display="none";
            console.log("non")
        }
        

    }
    function post(username,id_device) {
        let url = "/api/test/update_device/"+ username + "/" + id_device + "/";
        console.log(url);
        return new Promise((resolve, reject) => {
            const req = new XMLHttpRequest();
            req.open('POST', url);
            req.onload = () => req.status === 200 ? resolve(req.response) : reject(Error(req.statusText));
            req.onerror = (e) => reject(Error(`Network Error: ${e}`));
            req.send();
        });
}
</script>