<aside class="sidebar sidebar-navigation">
    {% if not current_user.is_admin_user %}
    <a href="/faq/" id="help">Besoin d'aide ?</a>
    {% endif %}
    <ul>
        {% if not current_user.is_admin_user %}
        <li>
            <div>
                <img src="{{ url_for('static', filename='pc/assets/home-icon.svg') }}" alt="icone home">
                <a href="{{ url_for('home.home') }}">
                    Accueil
                </a>
            </div>
        </li>
        <li>
            <div>
                <img src="{{ url_for('static', filename='pc/assets/statistics.png') }}" alt="icone statistics">               
                <a href="{{ url_for('stats.statistics') }}">
                    Statistics
                </a>
            </div>
        </li>
        <li>
            <div>
                <img src="{{ url_for('static', filename='pc/assets/settings.png') }}" alt="icone settings">                
                <a href="{{ url_for('settings.settings') }}">
                    Settings
                </a>
            </div>
        </li>
        {% else %}
        <li>
            <div>
                <img src="{{ url_for('static', filename='pc/assets/home-icon.svg') }}" alt="icone home">
                <a href="{{ url_for('admin.admin_home') }}">
                    Accueil
                </a>
            </div>
        </li>
        <li>
            <div>
                <img src="{{ url_for('static', filename='pc/assets/users-icon.svg') }}" alt="icone statistics">               
                <a href="{{ url_for('stats.statistics') }}">
                    Users
                </a>
            </div>
        </li>
        <li>
            <div>
                <img src="{{ url_for('static', filename='pc/assets/plateform-icon.svg') }}" alt="icone settings">                
                <a href="{{ url_for('admin.platform') }}">
                    Plateform
                </a>
            </div>
        </li>
        {% endif %}
        <li>
            <div>
                <img src="{{ url_for('static', filename='pc/assets/support.png') }}" alt="icone support">
                <a href="{{ url_for('support.support') }}">
                    Support
                </a>
            </div>
        </li>
        {% if not current_user.is_admin_user %}
        <li>
            <div class="dropdown show">
                <img src="{{ url_for('static', filename='pc/assets/device.svg') }}" alt="icone device">
                <a class='dropdown-toggle"' href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Devices
                </a>
              
                <div class="dropdown-menu" id="devices" aria-labelledby="dropdownMenuLink">
                    {% for device in devices %}
                        <form action="{{ url_for('sidebar.sidebar_device_change') }}" method="POST">
                            <button type='submit' name="device_change" value="{{device.num_device}}" class="dropdown-item">{{ device.name_device }}</button>
                        </form>
                    {% endfor %}
                </div>
            </div>
        </li>
        {% endif %}
    </ul>
</aside>