:root {
    --rouge: #DC1D21;
    --rouge-hover: #c21a1c;
    --vert: #0ea500;
    --vert-hover: #0d9900;
    --orange: #ff9100;
    --taille-header:66px;
    --taille-sidebar: 7.5em;
    --taille-elements-width: calc(60vw - var(--taille-sidebar));
    --taille-card: 14vw;
}

header{
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
	display: flex;
}

span{
	font-weight: bold;
	font-family: sans-serif;
	margin: 1em auto;
	display: block;
	text-align: center;
}

h2{
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 5vh;
}

h3{
	font-size: 35px;
	text-align: left;
}

footer{
	display: flex;

}

div.list-buttons{
	display: flex;
	flex-basis: 100%;
}
input.form-input{
    border: none;
    background-color: rgba(255,255,255,0);
    border-radius: 2px;
	font-size:18px;
    width: 100%;
    height: 2em;
	text-indent: 1em;
}

input.form-input:focus{
	outline: none;
}

legend{
	font-weight: 700;
	font-size: 24px;
	font-family: Roboto;
	text-align: center;
	margin: 0;
	text-decoration: underline;
}

fieldset:not(:first-of-type){
    margin-top:3em;
}

fieldset {
	border: solid thin;
	border-top: dashed thin;
    border-radius: 10px;
}

button.update{
	float: left;
	border-radius:8px;
	border-style:solid;
	border-width: 1px;
	border-color: #14FF00;
	background-color: white;
	padding: 5px;
	flex-basis: 40%;
	font-size: 2em;
	margin: 6%;


}

button.update:active{
	border-radius:8px;
	border-style:solid;
	border-width: 1px;
	border-color: #14FF00;
	background-color: gainsboro;
	padding: 5px;


}

button.cancel{
	border-radius:8px;
	border-style:solid;
	border-width: 1px;
	border-color: #D90B21;
	background-color: white;
	padding: 5px;
	flex-basis: 40%;
	font-size: 2em;
	margin: 6%;


}

button.cancel:active{
	border-radius:8px;
	border-style:solid;
	border-width: 1px;
	border-color: #D90B21;
	background-color: gainsboro;
	padding: 5px;


}
label.Icon{
	width: 10px;
	height: 10px;
}

form {
	margin: 0 .5em;
}


form div.form-submit {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

form div.form-submit>a,
form div.form-submit>button {
    padding: 0.4em 3em;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.6rem;
    border-radius: .3em;
	margin-top: .8em;
}

form div.form-submit>a {
    border: solid var(--rouge) 2px;
    display: block;
}

form div.form-submit>button {
    border: solid var(--vert) 2px;
    background-color: transparent;
    outline: none;
	margin-bottom: 1em;
}

.modal-fd {
	display: flex;
	justify-content: center;
}

.modal-fd input {
	width: 100%;
}

button.close {
	width: 1.2em;
    height: 1.2em;
    outline: none;
    border: none;
    border-radius: 2em;
	position: relative;
	background-color: var(--rouge);
}

button.close span {
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-43%, -55%);
	color: white;
}

div.flex {
	position: relative;
}