:root {
    --rouge: #DC1D21;
    --rouge-hover: #c21a1c;
    --vert: #0ea500;
    --vert-hover: #0d9900;
    --orange: #ff9100;
    --taille-header:66px;
    --taille-sidebar: 7.5em;
    --taille-elements-width: calc(60vw - var(--taille-sidebar));
    --taille-card: 14vw;
}

header{
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
	display: flex;
}


h2{
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 5vh;
}

h3{
	font-size: 20px;
	text-align: center;
	margin-bottom: 2em;
}

span{
	font-size: 18px;
}

div.contact{
	display: flex;
	align-items: center;
	margin-bottom: 1.5em;
}

div.info{
	display: flex;
	align-items: center;
	justify-content: left;

}

div.action{
	margin-left: 4em;
}

label.Icon{
	width: 10px;
	height: 10px;
}
a:active{
	background-color: #999999;
	text-decoration: none;
	color: black;
}

img.img-avatar {
	width: 60px;
	height: auto;
	margin-right: 1em;
}

div.flex {
    position: relative;
    width: 100%;
    height: calc(94vh - var(--taille-header));
}

section div.contact {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

section div.contact form {
	position: relative;
	width: 100%;
}

section div.contact div.info {
	width: 60%;
}

section div.contact div.info img {
    display: block;
    width: 60px;
    margin-right: .5em;
}

section div.contact div.info h4 {
	overflow: hidden;
    width: 60%;
}

section div.contact div.action {
	position: absolute;
    right: 0;
    top: 0;
	bottom: 0;
}

section div.contact div.action>button:first-child {
    display: block;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    border: solid var(--vert) 2px;
    border-radius: 1em;
    padding: 0 1em;
    text-align: center;
    color: black;
}

section div.contact div.action>button:last-child {
    display: block;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    border: solid var(--rouge) 2px;
    border-radius: 1em;
    padding: 0 1em;
    text-align: center;
    color: black;
}

section div.info,
section div.action {
    display: flex;
    flex-direction: row;
    align-items: center;
}

section div.contact div.action button:first-child:hover {
    cursor: pointer;
    transform: scale(0.95);
    transition: all .2s;
    border-color: var(--orange);
}

section div.contact div.action button:last-child:hover {
    cursor: pointer;
    transform: scale(0.95);
    transition: all .2s;
    border-color: var(--orange);
}

section div.contact h4 {
	white-space: nowrap;
}

#update-contact {
    display: flex !important;
}

#add-contact {
    width: 50px;
    height: 50px;
    display: block;
    background-color: var(--rouge);
    position: absolute;
    bottom: 5%;
    right: 5%;
    border-radius: 20em;
}

#add-contact a {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

#add-contact a i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
