header{
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
	display: flex;
}

section.cards {
	position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

h2{
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 5vh;
}

h3{
	font-size: 20px;
	text-align: center;
	margin-right: 0.7em;
}

div.settings-card{
	box-shadow: 5px 3px 3px darkgray;
    border: 1px;
    border-radius: 20px;
    padding:1em;
    margin-bottom: 3em;
	display: flex;
	align-items: center;
	justify-content: center;

}
div.settings-card:active{
	background-color: #999999;
	color: black;
}

label.Icon{
	width: 10px;
	height: 10px;
}
a:active{
	background-color: #999999;
	text-decoration: none;
	color: black;
}

