body{
    margin: 0%;
    padding: 0%;
    background-color: transparent;
}


h2,form{
    color: white;
}

h2{
    margin-left: 10%;
    margin-top:3em;
    width: 80%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}
main h2{
    margin-top:1em;
}

form{
    margin-top: 3em;
    text-align: center

}
form div{
    height: 8em;
}
form div *{
    display: flex;
    flex-wrap: nowrap; 
    margin-top: 0.2em
}

form button{
    background-color: #DC1D21;
    color: white;
    border: None;
    border-radius: 2em;
    margin: 3em auto;
    padding: .5em 1em;
    outline: none;
}

form button span {
    font-size: 24px;
}

form div input{
    width: 70vw;
    height: 3em;
    margin:auto;
    border-radius: 2em;
    outline: none;
    border: 1px solid #FFF;
    padding-left: 5%;
    
    
}

form div label{
    font-size: 22px;
    margin-left: 13%;
}

#rectangle{
    margin: auto;
    position: absolute;
    width: 60%;
    height:.5em;
    background:white;
    border-radius: 10px;
    left: 0;
    right: 0;
    bottom: 10%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightgray;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: lightgray;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: lightgray;
}

main:first-of-type {
    margin-top: 9em;
}

div.flash {
    text-align: center;
}